body{
    color: white;
    background-color: black;
    h1{
        font-size: 50px;
        text-align: center;
    }
    main{
        display: flex;
        a{
            text-align: center;
            text-decoration: none;
            color: white;
            font-size: 40px;
            text-shadow:  1px 1px black;
        }
        .project{
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            width: 33%;
            .projects{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 20px;
                width: 250px;
                height: 250px;
                background-color: gray;
                border-radius: 25px;
            }
            .project-one{
                background-image: url(/Warszawa/img/warszawka-syrena.webp);
                background-size: cover;
                background-position: 0 50%;    
            }
        }
        .video{
            width: 33%;
            text-align: center;
            video{
                height: 60%;
                width: 100%;
            }
        }
    }
}