*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto, 
}

:root{
    --colornav: rgba(255, 255, 255, 0.92);
    --colorfooter: #FF5674;
    --textnav: #000;
    --linkcolor-: #808083;
    --policyp: #8585857c; 
    --bs-tertiary-bg-rgb: #fff;
}

body{
    .site{
        margin: 0 auto;
        min-width: 390px;
        max-width: 1440px;
        @media (max-width:991px) {
          .container-fluid, .test{
            padding: 16px 20px;
          }
            header {
              background-color: var(--colornav);
              .navbar {
                padding: 0;
                height: 100%;
                .container-fluid {
                  border-bottom: 2px solid black;
                  .navbar-brand {
                    img {
                      width: 76px;
                      height: 16px;
                    }
                  }
                  .navbar-toggler-icon{
                    background-image: url(../img/hamburger-menu.png);
                  }
                  .navbar-toggler-icon[aria-expanded="true"]{
                    background-image: url(../img/close.png);
                  }
                  .navbar-nav {
                    display: flex; 
                    flex-direction: column; 
                    align-items: flex-start;
                    .nav-item {
                      padding-left: 23px;
                      order: 0; 
                      font-size: 29px;
                    }
                    .nav-item:hover{
                      font-weight: 1000;
                    }
                  }
                  .navbar-toggler-icon {
                    height: 28px;
                    border: 0;
                  }
                  .collapse.show, .collapsing {
                    display: flex;
                    flex-direction: column;
                  }
                  .collapse.show:nth-child(2) {
                    order: 1;
                    
                  }
                  .navbar-collapse {
                    align-items: normal;
                    .navbar-nav {
                      .nav-item{ 
                        padding-left: 0px;
                        .gray{
                          color: var(--linkcolor-);
                        }
                      }
                      .item-one{
                        padding-top: 0px;
                      }
                      .contact{
                        margin-top: 52px;
                        margin-bottom: 4px;
                        font-size: 29px;
                        font-weight: 1000;
                        .contact-add{
                          p{
                            margin: 0;
                            font-size: 25px;
                            font-weight: 400;
                          }
                            .policy{
                              margin-top: 58px;
                              padding-bottom: 54px;
                              p{
                                padding-bottom: 5px;
                                font-size: 12px;
                                color: var(--policyp);
                              }
                            }
                        }
                      }
                    }
                  }
                  .drop {
                    margin-top: 15px;
                    padding: 23px 0px;
                    border-top: 2px solid rgba(128, 128, 128, 0.5);
                    .dropdown{
                      a{
                        font-size: 33px;
                        font-weight: 1000;
                      }
                      img{
                        margin-left: 10px;
                      }
                    }
                    order: -1;
                  }
                }
              }
            }
            footer{
              padding: 60px 20px 40px 20px;
              width: 100%;
              background-color: var(--colorfooter);
              text-align: center;
              .container-footer{
                color: white;
                .footer-logo{
                  p{
                    margin: 0 auto;
                    margin-top: 20px;
                    width: 326px;
                  }
                  .social{
                    margin-top: 20px;
                  }
                }
                .footer-contact-email{
                  margin-top: 30px;
                  border-top:  1px solid white;
                  h4{
                    margin-top: 30px;
                    padding: 20px;
                    font-size: 17px;
                  }
                  .form-group{
                    position: relative;
                    margin-top: 30px;
                      .form-control{
                        padding: 12px 24px;
                        background-color: transparent;
                        border-radius: 0;
                        color: #fff;
                      }
                      .form-control::placeholder{
                        color: #fff;
                      }
                      .arrow{
                        position: absolute;
                        right: 18px;
                        top: 35%;
                      }
                  }
                }
                .footer-contact{
                  margin-top: 40px;
                  h4{
                    padding: 20px;
                    font-size: 18px;
                     a{
                       line-height: 2;
                       text-decoration: none;
                       font-weight: 200;
                       color: #ffffff;
                     }
                   }
                   .form{
                     padding: 12px 83px;
                     font-weight: 300;
                     background-color: #28282A;
                   }
                 }
                 .footer-flex{
                   .footer-flex-menu{
                     display: flex;
                     width: 100%;
                     font-weight: 300;
                     .footer-block{
                       margin-top: 48px;
                       width: 50%;
                       text-align: left;
                    }
                    .block-one{
                      p{
                        margin-top: 20px;
                      }
                      p:nth-child(1){
                        margin-top: 0px;
                      }
                    }
                    .block-two{
                      margin-left: 5%;
                      .contact-mobile{
                        h5{
                          margin-bottom: 15px;
                        }
                        p{
                          margin-bottom: 2px;
                        }
                      }
                      .footer-policy{
                        margin-top: 25px;
                        p{
                          font-size: 12px;
                          margin-bottom: 8px;
                        }
                        .copy{
                          width: 80%;
                        }
                        .policy{
                          font-weight: 200;
                        }
                      }
                    }
                  }
                  .contact-dekstop{
                    display: none;
                  }
                }
              }
            }
          }
          
        @media (min-width:992px){
          footer,.container-fluid, .test{
            padding: 30px 80px;
          }
            header{
                height: 80px;
                background-color: var(--colornav);
                .navbar{
                  --bs-navbar-nav-link-padding-x: 0px !important; 
                  height: 100%;
                  border-bottom: 2px solid black;
                    .container-fluid{
                        position: relative;
                        .navbar-brand{
                          width: 17%;
                        }
                    }
                    .navbar-collapse{
                        .navbar-nav{
                            .nav-item{
                              .nav-link{
                                margin-left: 36px;  
                              }
                            }
                            .nav-item:hover{
                              font-weight: 1000;
                            }
                            .contact{
                              .contact-add{
                                display: none;
                              }
                            }
                            .item-one{
                              margin-left: 15px;
                            }
                        }
                    }
                    .drop{
                      margin: 0 auto;
                      .dropdown{
                        a{
                            font-size: 24px;
                            font-weight: 1000;
                          }
                          .nav-drop{
                            width: 156px;
                          }
                        }
                    }
                }
            }
            footer{
              padding-top: 60px;
              padding-bottom: 60px;
              width: 100%;
              border-top: 1px solid black;
              background-color: var(--colorfooter);
              .container-footer{
                color: white;
                .footer-block{
                    display: flex;
                  .footer-logo{
                    margin-right: 80px;
                    width: 16%;
                    font-size: 15px;
                    font-weight: 300;
                    .logo{
                      width: 100%;
                    }
                    p{
                      margin-top: 60px;
                      margin-bottom: 31px;
                    }
                  }
                  .footer-contact-email{
                    width: 45%;
                    height: 203px;
                    border-right: 1px solid white;
                    border-bottom: 1px solid white;
                    .form-group, h4{
                      width: 90%;
                    }
                    h4{
                      font-size: 20px;
                      font-weight: 500;
                    }
                    .form-group{
                      position: relative;
                      margin-top: 40px;
                      .form-control{
                        padding: 12px 24px;
                        background-color: transparent;
                        border-radius: 0;
                        color: #fff;
                      }
                      .form-control::placeholder{
                        color: #fff;
                      }
                      .arrow{
                        position: absolute;
                        top: 35%;
                        right: 24px;
                      }
                    }
                  }
                  .footer-contact{
                  padding-left: 54px;
                  width: 379px;
                  height: 203px;
                  border-bottom: 1px solid white;
                    .form{
                      margin-top: 9%;
                      padding: 12px 57px;
                      max-width: 325px;
                      background-color: #28282A;
                      font-weight: 300;
                      letter-spacing: 1px;
                      text-align: center;
                    }
                    a{
                      font-weight: 300;
                      text-decoration: none;
                      color: white;
                    }
                  }
                }
                .footer-flex{
                  display: flex;
                  margin-left: 20%;
                  margin-top: -2.5%;
                  .footer-flex-menu{
                    .footer-block{
                      .footer-menu{
                        display: flex;
                        p{
                          margin-left: 20px;
                          font-weight: 300;
                        }
                        
                      }
                      .footer-policy{
                        display: flex;
                        font-weight: 300;
                        p{
                          margin-left: 20px;
                        }
                        .policy{
                          font-weight: 100;
                        }
                      }
                      .contact-mobile{
                        display: none;
                      }
                    }
                  }
                  .contact-dekstop{
                    margin-left: 10%;
                    font-size: 20px;
                    h5{
                      font-size: 18px;
                    }
                    p{
                      margin-bottom: 0;
                      font-weight: 300;
                    }
                  }
                }
              }
            }
        }
        @media(width:1024px) {
          header{
            .navbar{
              .navbar-collapse{
                .navbar-nav{
                  margin-left: 20px;
                  .nav-item{
                    .nav-link{
                      margin-left: 10px;
                    }
                  }
                }
                .drop{
                  margin-left: 40px;
                }
                .item-one{
                  margin-left: 56px;
                  width: 100px;
                }
                .item-four{
                  a{
                    width: 51px;
                  }
                }
                .item-five{
                  a{
                    width: 51px;
                  }
                }
              }
            }
          }
        }
    }
}