
// ----------INDEX----------

$color-button-hover:#FD2F54;
$color-button-hover-black:#28282A;

$color-nav-text: #000;
$color-nav: rgba(255, 255, 255, 0.92);
$color-nav-border: #000000;
$color-nav-border-menu: rgba(128, 128, 128, 0.5);

$color-header-waw: #FF5674;
$color-header-waw-hiden:#FFFFFF;
$color-photo-text:#FFFFFF;

$color-intresting-place:#28282A;
$color-intesting-text: #ffffff;
$color-intesting-text-p: #ffffff98;
$color-intesting-button: #FF5674;

$color-map-background: #FF5674;
$color-maps-hover: #FFE600;
$color-maps-border: #FFFFFF;
$color-maps-text:#FFFFFF;
$color-maps-text-hover: #000000;

$color-restaurant-button:#FF5674;
$color-restaurant-p:#808083;

$color-other-cities-bacground:#28282A;
$color-other-cities-text:#FFFFFF;
$color-other-cities-button:#FF5674;

$color-news-button:#FF5674;
$color-news-text:#FFFFFF;

$color-footer: #FF5674;
$color-footer-border: #000000;
$color-footer-text :#FFFFFF;
$color-footer-contact-email-border: #ffffff;
$color-footer-form: #28282A;

$link-color: #808083;
$policy-p: #8585857c; 
$bs-tertiary-bg-rgb: #fff;

// ----------PLACES----------

$color-places-header:#28282A;
$color-suggestions-button-broder: #000000;
$color-offer-button: #FF5674;
$color-offer-text:#ffffff;

//----------lazienki-krolewskie----------

$color-lazienki-krolewskie-header:#28282A;
$color-lazienki-krolewskie-tag:#808083;
$color-lazienki-krolewskie-button-text-color: #FFFFFF;
$color-lazienki-krolewskie-details-button:#FF5674;
$color-lazienki-krolewskie-info-background: #28282A;
$color-lazienki-krolewskie-info-text-color: #FFFFFF;
$color-lazienki-krolewskie-info-text-color-two: #808083;
$color-lazienki-krolewskie-info-button: #FF5674;

//----------lazienki-krolewskie-bilet----------
$color-lazienki-krolewskie-bilet-header:#28282A;
$color-lazienki-krolewskie-bilet-tag:#808083;
$color-lazienki-krolewskie-bilet-background: #28282A;
$color-lazienki-krolewskie-bilet-text-color: #FFFFFF;
$color-lazienki-krolewskie-bilet-text-color-two: #808083;
$color-lazienki-krolewskie-bilet-button: #FF5674;

//----------Muzeum-neonów----------

$color-muzeon-neonow-header: #28282A;
$color-muezeum-neonow-info-info-text-color: #FFFFFF;
$color-muezeum-neonow-info-info-text-color-two: #808083;
$color-muzem-neonow-tag:#808083;

//----------Palac-krola----------

$color-palac-krola-header: #28282A;
$color-palac-krola-info-text-color: #FFFFFF;
$color-palac-krola-info-text-color-two: #808083;
$color-palac-krola-tag:#808083;
$color-palac-krola-details-button:#FF5674;
$color-palac-krola-button-text-color: #FFFFFF;
$color-palac-krola-info-button: #FF5674;