// Notification

$notification-background:#E3D4C5;
$notification-text: #000000;

//Nav

$nav-border-color: #DADADA;
$nav-background: #FFFFFF;

//Footer

$footer-background: #171717;

//Cookie
$cookie-bacground: #202020;

//Index
//Header


//Marquee/Rect
$marquee-background: #000;
$marquee-text: #FFFFFF;
$rect-background: rgb(227, 212, 197);

//Main
//Bestseller
$bestseller-button-background: #000;
$bestseller-buy-button-background: #F4F1EC;
$bestseller-text: #fff;
$bestseller-buy-buton-hover: #000;
$bestseller-buy-text: #615b5b;