@use './colors' as *;

@mixin marquee{
    .marquee{
        @media (min-width:320px) {
            display: flex;
            justify-content: right;
            height: 58px;
            font-size: 20px;
            white-space: nowrap;
            background-color: $marquee-background;
            text-align: center;
                a{
                display: flex;
                align-items: center;
                color: $marquee-text;
                text-decoration: none;
                animation: text 5s infinite linear;
                position:relative; 
                span{
                    .weight{
                        font-weight: 1000;
                    }
                }
                .dot{
                    margin: 0px 15px;
                    font-size: 4.0rem;
                }
            }
        }
        @media (min-width:768px){
            height: 72px;
        }
        @media (min-width:1200px){
            height: 90px;
        }
    }
}


@mixin slider{
    .no-favourite{
        content: url(../img/heart.png);
    }
    
    .favourite{
        content: url(../img/fav.png);
    }
    .no-favourite, .favourite{
        position: absolute;
        top: 20px;
        right: 20px;
        height: 44px;
        width: 44px;
    }
    .slider{
        @media (min-width:320px) {
            width: 258px;
            margin-right: 20px;
            &-position{
                position: relative;
                width: 100%;
                height: 250px;
                &-photo{
                    height: 100%;
                }
            }
            &-text{
                margin-top: 28px;
                &-header{
                    display: flex;
                    justify-content: space-between;
                    align-items: start;
                    margin-bottom: 12px;
                    &-star{
                        img{
                            margin-left: 5px;
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
                &-price{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 12px;
                    .price{
                        font-size: 20px;
                    }
                }
            }
        }
        &:last-child{
            margin-right: 0;
        }
        @media (min-width: 768px){
            width: 300px;
            &-position{
                width: 300px;
                &-photo{
                    width: 100%;
                }
            }
            &-text{
                &-header{
                    flex-direction: column;
                }
            }
        }
        @media (min-width:1200px){
            width: 385px;
            &-position{
                width: 385px;
                height: 385px;
            }
            &-text{
                margin-top: 40px;
                &-header{
                    flex-direction: row;
                }
            }
        }
    }
}

@mixin button{
    .button{
        margin-bottom: 40px;
        height: 48px;
        width: 100%;
        max-width: 350px;
        background-color: $bestseller-button-background;
        color: $bestseller-text;
        img{
            margin-left: 10px;
        }
    }
}

@mixin buyButton{
    .buyButton{
        padding: 12px 0px;
        margin-top: 28px;
        width: 100%;
        background-color: $bestseller-buy-button-background;
        color: $bestseller-buy-buton-hover;
        img{
            margin-left: 10px;
            filter: brightness(0);
        }
    }
    .buyButton:hover{
        padding: 12px 0px;
        margin-top: 28px;
        width: 100%;
        background-color: $bestseller-buy-buton-hover;
        color: $bestseller-text;
        img{
            margin-left: 10px;
            filter: brightness(100);
        }
    }
}

@mixin messenger{
    .messenger{
        @media (min-width:320px){
            position: fixed;
            width: 100%;
            z-index: 3;
            top: 65%;
            pointer-events: none;
            &-position{
                display: flex;
                justify-content: end;
                &-button{
                    pointer-events: auto;
                    &__photo{
                        height: 69px;
                    }
                }
            }
        }
        @media (min-width:768px){
            top: 80%;
            &-position{
                &-button{
                    &__photo{
                        height: 97px;
                    }
                }
            }
        }
        @media (min-width:1400px){
            top: 65%;
            right: -100px;
        }
    }
}