@use './colors' as *;
@use './mixins' as *;

html{
    font-size: 62.5%;
    @include marquee;
    @include messenger;
    @include buyButton;
    @include paganation;
    @include blogSearch;
}

h1,h2,h3{
    font-weight: 1000;
}


.banner{
    overflow: hidden;
}

.weight{
    font-weight: 800;
}

.read{
    margin-top: 20px;
    img{
        margin-left: 12px;
    }
}

.read:hover{
    color: #000;
    border-bottom: 1px solid black;
}

.p-color{
    color: #999999;
}

.blog-time{
    display: flex;
    margin-top: 28px;
    margin-bottom: 12px;
    font-size: 14px;
    .time{
        margin-left: 10px;
    }
}

.carousel-indicators [data-bs-target] {
    width: 17px;
    height: 17px;
    opacity: 1;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 13px;
}

.carousel-indicators{
    .active{
        background-color: white;
    }
}


@media (min-width: 320px) { 
    .error{
        text-align: center;
        color: red;
        h1{
            font-size: 50px;
        }
    }
    header,main{
        display: none;
    }
}

@media (min-width: 576px) { 

}

@media (min-width: 768px) { 

}

@media (min-width: 992px) { 

}

@media (min-width: 1200px) { 
    .error{
        display: none;
    }
    h2{
        font-size: 5.2rem;
    }
    h3{
        font-size: 3.0rem;
    }
    p{
        font-size: 1.9rem;
    }
    header,main{
        display: block;
    }
    header{
        margin-bottom: 12px;
        .header-position{
            margin: 0 auto;
            max-width: 1920px;
            display: flex;
            &-left{
                position: relative;
                overflow: hidden;
                width: 40%;
                padding-top: 81px;
                padding-left: 81px;
                padding-bottom: 132px;
                margin-right: 12px;
                background-color: $header-background;
                &__text{
                    width: 65%;
                }
                &__text:first-child{
                    font-size:2.5rem;
                }
                &__heading{
                    margin-top: 47px;
                    margin-bottom: 39px;
                }
                .read{
                    margin-top: 33px;
                }
                &__photo{
                    position: absolute;
                    bottom: 0%;
                }
            }
            &-right{
                width: 60%;
                .carousel{
                    height: 100%;
                    .carousel-indicators{
                        left: 63px;
                        bottom: 56px;
                        right: auto;
                        margin-left: 0%;
                    }
                    .carousel-inner{
                        height: 100%;
                        .carousel-item{
                            height: 100%;
                            img{
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
    main{
        .small-slider{
            width: 100%;
            max-width: 385px;
            margin-right: 20px;
            &__photo{
                width: 100%;
            }
            &__heading{
                width: 100%;
            }
            &__text{
                margin-top: 20px;
            }
        }
        .small-slider:last-child{
            margin-right: 0px;
        }
        .big-slider{
            width: 100%;
            max-width: 790px;
            &__photo{
                width: 100%;
                min-height: 275px;
                object-fit: cover;
            }
            &__text{
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;  
                overflow: hidden;
            }
        }

        .blog{
            margin-top: 69px;
            border-top:  1px solid $blog-border-background;
            &-position{
                display: flex;
                &-left{
                    padding-bottom: 111px;
                    padding-right: 71px;
                    width: 100%;
                    border-right: 1px solid $blog-border-background;
                    &-header{
                       padding-top: 49px;
                       width: 45%;
                    }
                    &-top, &-bottom, &-mid{
                        margin-top: 72px;
                        display: flex;
                    }
                    &-mid{
                        .big-slider{
                            margin-right: 20px;
                        }
                    }
                    &-bottom{
                        margin-bottom: 113px;
                    }
                }
                &-right{
                    padding-top: 49px;
                    width: 25%;
                    &-position{
                        margin-left: 71px;
                    }
                }
            }
        }
    }
}