html {
  font-size: 62.5%;
}
html .no-favourite {
  content: url(../img/heart.png);
}
html .favourite {
  content: url(../img/fav.png);
}
html .no-favourite, html .favourite {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 44px;
  width: 44px;
}
@media (min-width: 320px) {
  html .slider {
    width: 258px;
    margin-right: 20px;
  }
  html .slider-position {
    position: relative;
    width: 100%;
    height: 250px;
  }
  html .slider-position-photo {
    height: 100%;
  }
  html .slider-text {
    margin-top: 28px;
  }
  html .slider-text-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 12px;
  }
  html .slider-text-header-star img {
    margin-left: 5px;
    width: 16px;
    height: 16px;
  }
  html .slider-text-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
  }
  html .slider-text-price .price {
    font-size: 20px;
  }
}
html .slider:last-child {
  margin-right: 0;
}
@media (min-width: 768px) {
  html .slider {
    width: 300px;
  }
  html .slider-position {
    width: 300px;
  }
  html .slider-position-photo {
    width: 100%;
  }
  html .slider-text-header {
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  html .slider {
    width: 385px;
  }
  html .slider-position {
    width: 385px;
    height: 385px;
  }
  html .slider-text {
    margin-top: 40px;
  }
  html .slider-text-header {
    flex-direction: row;
  }
}
html .button {
  margin-bottom: 40px;
  height: 48px;
  width: 100%;
  max-width: 350px;
  background-color: #000;
  color: #fff;
}
html .button img {
  margin-left: 10px;
}
html .buyButton {
  padding: 12px 0px;
  margin-top: 28px;
  width: 100%;
  background-color: #F4F1EC;
  color: #000;
}
html .buyButton img {
  margin-left: 10px;
  filter: brightness(0);
}
html .buyButton:hover {
  padding: 12px 0px;
  margin-top: 28px;
  width: 100%;
  background-color: #000;
  color: #fff;
}
html .buyButton:hover img {
  margin-left: 10px;
  filter: brightness(100);
}
@keyframes text {
  0% {
    left: 0%;
  }
  100% {
    left: 30%;
  }
}
@media (min-width: 320px) {
  html .marquee {
    display: flex;
    justify-content: right;
    height: 58px;
    font-size: 20px;
    white-space: nowrap;
    background-color: #000;
    text-align: center;
  }
  html .marquee a {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    animation: text 5s infinite linear;
    position: relative;
  }
  html .marquee a span .weight {
    font-weight: 1000;
  }
  html .marquee a .dot {
    margin: 0px 15px;
    font-size: 4rem;
  }
}
@media (min-width: 768px) {
  html .marquee {
    height: 72px;
  }
}
@media (min-width: 1200px) {
  html .marquee {
    height: 90px;
  }
}
@media (min-width: 320px) {
  html .messenger {
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 65%;
    pointer-events: none;
  }
  html .messenger-position {
    display: flex;
    justify-content: end;
  }
  html .messenger-position-button {
    pointer-events: auto;
  }
  html .messenger-position-button__photo {
    height: 69px;
  }
}
@media (min-width: 768px) {
  html .messenger {
    top: 80%;
  }
  html .messenger-position-button__photo {
    height: 97px;
  }
}
@media (min-width: 1400px) {
  html .messenger {
    top: 65%;
    right: -100px;
  }
}

h1, h2, h3, .price {
  font-weight: 1000;
}

.p-color {
  color: #999999;
}

.hiden-mobile {
  display: none;
}

.hiden-m-t {
  display: none;
}

.read {
  margin-top: 12px;
}
.read img {
  margin-left: 12px;
}

.read:hover {
  color: #000;
  border-bottom: 1px solid black;
}

.carousel-indicators [data-bs-target] {
  width: 17px;
  height: 17px;
  opacity: 1;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 13px;
}

.carousel-indicators {
  position: relative;
}
.carousel-indicators .active {
  background-color: #000;
}

.bestseller-slider, .news-slider-position__slider, .beauty-position-slider {
  display: flex;
  overflow-x: scroll;
}

.no-favourite {
  content: url(../img/heart.png);
}

.favourite {
  content: url(../img/fav.png);
}

.blog-time {
  display: flex;
  margin-top: 28px;
  margin-bottom: 12px;
  font-size: 14px;
}
.blog-time .time {
  margin-left: 10px;
}

.blog-s-photo {
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 320px) {
  header .header-position {
    position: relative;
  }
  header .header-position-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 140px;
    text-align: center;
  }
  header .header-position-left__heading {
    margin-bottom: 30px;
    font-size: 32px;
  }
  header .header-position-left__text {
    font-size: 1.6rem;
    margin-bottom: 43px;
  }
  header .header-position-left__buyButton {
    padding: 12px 35px;
    margin-bottom: 43px;
    font-size: 1.6rem;
    background-color: #000;
    color: white;
  }
  header .header-position-left__buyButton img {
    margin-left: 10px;
  }
  header .header-position-right {
    position: relative;
    margin: 0px -20px;
  }
  header .header-position-right__photo {
    width: 100%;
    height: 255px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  header .header-position-right__product {
    position: absolute;
    margin: 0 auto;
    top: -55%;
    left: 0px;
    right: 0px;
    height: 220px;
  }
  header .header-position-right__messenger {
    position: absolute;
    margin: 0 auto;
    padding-left: 290px;
    top: -25%;
    right: 0;
    left: 0;
    height: 69px;
  }
  header .header-position-slider {
    position: absolute;
    left: 35%;
    top: calc(65% - 100px);
    left: 0;
    right: 0;
  }
  header .header-position-slider .carousel-inner {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  header .header-position-slider .carousel-inner .carousel-item .product {
    margin: 0 auto;
    height: 50%;
    max-height: 220px;
  }
  main {
    position: relative;
  }
  main h2 {
    font-size: 2.8rem;
    margin: 0;
  }
  main h3 {
    font-size: 2rem;
  }
  main p {
    font-size: 1.6rem;
  }
  main .banner-position {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
  }
  main .banner-position__rect {
    display: flex;
    justify-content: flex-start;
    height: 30px;
    margin-left: 20px;
    width: 100%;
    background-color: rgb(227, 212, 197);
  }
  main .bestseller {
    margin-bottom: 71px;
  }
  main .bestseller-text {
    margin-top: 64px;
  }
  main .bestseller-text-header__text {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  main .bestseller-text-header__button {
    font-size: 1.6rem;
  }
  main .together {
    position: relative;
  }
  main .together__background {
    width: 100%;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
    filter: brightness(50%);
  }
  main .together-text {
    display: flex;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  main .together-text__heading {
    margin-bottom: 20px;
  }
  main .together-text__text {
    padding: 0px 38px;
    margin-bottom: 40px;
  }
  main .together-text .buyButton {
    width: 215px;
  }
  main .news {
    padding-bottom: 71px;
  }
  main .news-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
  }
  main .news-text-header__heading {
    margin-bottom: 20px;
  }
  main .news-text-header__text {
    margin-bottom: 40px;
  }
  main .news-slider-position__special {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  main .news-slider-position__special-position {
    position: relative;
  }
  main .news-slider-position__special-position__photo {
    margin-bottom: 20px;
    width: 100%;
    max-width: 350px;
  }
  main .news-slider-position__special-text {
    position: relative;
    justify-content: space-between;
  }
  main .news-slider-position__special-text-header {
    display: flex;
    justify-content: space-between;
  }
  main .news-slider-position__special-text-price {
    display: flex;
    justify-content: space-between;
  }
  main .news-slider-position__special-text__file {
    position: absolute;
    top: -300px;
    left: -40px;
    height: 300px;
  }
  main .newseletter {
    background-color: #E3D4C5;
  }
  main .newseletter-position {
    padding-top: 64px;
  }
  main .newseletter-position-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .newseletter-position-text__heading {
    margin-bottom: 24px;
    width: 100%;
    max-width: 350px;
  }
  main .newseletter-position-text__text {
    margin-bottom: 34px;
    width: 100%;
    max-width: 350px;
    font-weight: 600;
    font-size: 20px;
  }
  main .newseletter-position-text__form {
    display: flex;
    flex-direction: column;
  }
  main .newseletter-position-text__form-form-position {
    display: flex;
    flex-direction: column;
  }
  main .newseletter-position-text__form-form-position input[type=email] {
    border: 0;
    padding: 12px 111px;
    width: 100%;
    max-width: 350px;
    font-size: 1.6rem;
  }
  main .newseletter-position-text__form-form-position .send {
    padding: 12px 0px;
    margin-top: 0px;
    background-color: #000;
    color: white;
  }
  main .newseletter-position-text__form-text {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 76px;
    width: 100%;
    max-width: 350px;
  }
  main .newseletter-position-text__form-text input[type=checkbox] {
    margin-right: 10px;
  }
  main .newseletter-position-photo {
    position: relative;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 12px;
  }
  main .newseletter-position-photo__image {
    height: 400px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .newseletter-position-photo__logo-white {
    position: absolute;
    width: 172px;
    bottom: 20px;
    right: 20px;
  }
  main .beauty {
    background-color: #F4F1EC;
  }
  main .beauty-position {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  main .beauty-position-text {
    z-index: 0;
    position: relative;
  }
  main .beauty-position-text__vector {
    margin-top: 22px;
  }
  main .beauty-position-text__heading {
    z-index: 1;
    margin-top: 64px;
    margin-bottom: 30px;
  }
  main .beauty-position-text__text {
    margin-bottom: 30px;
  }
  main .beauty-position-text__image {
    position: absolute;
    top: 80px;
    left: 45px;
    width: 145px;
    height: 109px;
    z-index: -1;
  }
  main .beauty-position-text .carousel-indicators {
    margin-bottom: 64px;
    justify-content: start;
    margin-left: 0px;
  }
  main .beauty-position-slider {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }
  main .beauty-position-slider #carouselExampleIndicatorstwo {
    width: 100%;
    max-width: 534px;
    overflow: hidden;
  }
  main .beauty-position-slider #carouselExampleIndicatorstwo .carousel-inner {
    display: flex;
    flex-direction: row;
  }
  main .beauty-position-slider #carouselExampleIndicatorstwo .carousel-inner .carousel-item .carousel-item-position {
    width: 534px;
    display: flex;
  }
  main .beauty-position-slider #carouselExampleIndicatorstwo .carousel-inner .carousel-item .carousel-item-position .slider {
    position: relative;
    width: 257px;
    margin-right: 20px;
  }
  main .beauty-position-slider #carouselExampleIndicatorstwo .carousel-inner .carousel-item .carousel-item-position .slider-position-photo {
    height: 250px;
    width: 100%;
  }
  main .beauty-position-slider #carouselExampleIndicatorstwo .carousel-inner .carousel-item .carousel-item-position .slider-text .buyButton {
    background-color: #E3D4C5;
  }
  main .beauty-position-slider #carouselExampleIndicatorstwo .carousel-inner .carousel-item .carousel-item-position .slider-text .buyButton:hover {
    background-color: black;
  }
  main .beauty-position-slider #carouselExampleIndicatorstwo .carousel-inner .carousel-item .carousel-item-position .hiden-mobile {
    display: none;
  }
  main .blog-position-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 40px;
  }
  main .blog-position-text-header__heading {
    margin-top: 64px;
    margin-bottom: 32px;
  }
  main .blog-position-text-header__text {
    width: 100%;
    max-width: 350px;
    margin-bottom: 40px;
  }
  main .blog-position-slider-big {
    margin: 0 auto;
    width: 100%;
    max-width: 350px;
  }
  main .blog-position-slider-big-b {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 32px;
  }
  main .blog-position-slider-big-b__photo {
    width: 100%;
    max-width: 350px;
  }
  main .blog-position-slider-big-b__heading {
    margin-bottom: 12px;
  }
  main .blog-position-slider-big-b__heading, main .blog-position-slider-big-b__text, main .blog-position-slider-big-b .blog-time {
    width: 100%;
    max-width: 350px;
  }
  main .blog-position-slider-big-b .read {
    text-align: left;
  }
  main .blog-position-slider-small {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
  }
  main .blog-position-slider-small-position {
    display: flex;
    overflow-x: scroll;
  }
  main .blog-position-slider-small-position-s {
    width: 257px;
  }
  main .blog-position-slider-small-position-s__photo {
    width: 257px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .blog-position-slider-small-position-s__heading {
    margin-bottom: 12px;
  }
  main .blog-position-slider-small-position-s__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;
  }
  main .blog-position-slider-small-position-s:first-child {
    margin-right: 20px;
  }
  main .certificate {
    background-color: #F4F1EC;
  }
  main .certificate-position-text {
    display: flex;
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 64px;
  }
  main .certificate-position-text__heading {
    text-align: center;
  }
  main .certificate-position-photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  main .certificate-position-photo-one {
    margin-bottom: 20px;
  }
  main .certificate-position-photo-one .cert-one {
    margin-right: 50px;
    width: 48px;
  }
  main .certificate-position-photo-one .cert-two {
    margin-right: 50px;
    width: 97px;
  }
  main .certificate-position-photo-one .cert-three {
    width: 100px;
  }
  main .certificate-position-photo-two {
    margin-bottom: 20px;
  }
  main .certificate-position-photo-two .cert-four {
    margin-right: 50px;
    width: 74px;
  }
  main .certificate-position-photo-two .cert-five {
    margin-right: 50px;
    width: 75px;
  }
  main .certificate-position-photo-two .cert-six {
    width: 98px;
  }
}
@media (min-width: 509px) {
  .certificate .container-xxl .certificate-position .certificate-photo .cert-three {
    margin-right: 49px;
  }
}
@media (min-width: 768px) {
  .hiden-mobile {
    display: block;
  }
  .container-p-0 {
    padding-right: 20px;
  }
  header .header-position {
    display: flex;
    position: relative;
    margin-top: 28px;
    height: 683px;
  }
  header .header-position-left, header .header-position-right {
    height: 683px;
    width: 50%;
  }
  header .header-position-left {
    align-items: start;
    margin-top: 3%;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 641px;
    text-align: left;
  }
  header .header-position-left__heading, header .header-position-left__text {
    width: 57%;
  }
  header .header-position-left__heading {
    font-size: 3.2rem;
    margin-top: 13%;
    margin-bottom: 8%;
  }
  header .header-position-left__text {
    margin-bottom: 12%;
  }
  header .header-position-left__buyButton {
    margin: 0;
  }
  header .header-position-left .carousel-indicators {
    margin-top: 14%;
    margin-left: 0px;
    justify-content: start;
  }
  header .header-position-right {
    position: absolute;
    right: 0;
  }
  header .header-position-right__photo {
    height: 100%;
  }
  header .header-position-right__product {
    top: 35%;
    left: -100%;
    height: 290px;
  }
  header .header-position-right__messenger {
    top: 1100px;
    padding-left: 0px;
    margin-right: 26px;
    z-index: 2;
    height: 97px;
  }
  header .header-position-slider {
    top: 35%;
    pointer-events: none;
  }
  header .header-position-slider .carousel-inner {
    width: 350px;
    max-width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  header .header-position-slider .carousel-inner .carousel-item {
    pointer-events: fill;
  }
  header .header-position-slider .carousel-inner .carousel-item .product {
    margin: 0 auto;
    max-height: 100%;
    height: 290px;
  }
  main .banner-position__rect {
    height: 42px;
  }
  main .bestseller-text {
    display: flex;
    justify-content: space-between;
  }
  main .bestseller-text-header__button {
    padding: 0;
    width: 300px;
  }
  main .together__background {
    height: 400px;
  }
  main .together-text {
    top: 23%;
  }
  main .together-text__heading {
    margin-bottom: 50px;
  }
  main .together-text__text {
    padding: 0px 38px;
    margin-bottom: 32px;
    width: 70%;
  }
  main .together-text .buyButton {
    width: 215px;
  }
  main .news-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  main .news-text__button {
    width: 300px;
  }
  main .news-slider-position {
    display: flex;
  }
  main .news-slider-position__special {
    display: block;
    position: relative;
    flex-grow: 1;
    max-width: 794px;
  }
  main .news-slider-position__special-position {
    width: 100%;
  }
  main .news-slider-position__special-position__photo {
    height: 1034px;
    width: 100%;
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .news-slider-position__special-position__file {
    position: absolute;
    height: 460px;
    bottom: 0px;
    left: -100px;
    z-index: 2;
  }
  main .news-slider-position__special-text {
    position: absolute;
    bottom: 60px;
    right: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 90%;
    background-color: white;
  }
  main .news-slider-position__special-text .buyButton {
    width: 100%;
    max-width: 215px;
  }
  main .news-slider-position__special-text-header, main .news-slider-position__special-text .slider-price, main .news-slider-position__special-text .special-text, main .news-slider-position__special-text .buyButton {
    margin-left: 100px;
  }
  main .news-slider-position__special-text .hiden-t-d {
    display: none;
  }
  main .news-slider-position__slider {
    width: 300px;
    flex-direction: column;
    align-items: end;
    margin-left: 20px;
    height: 1034px;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-shrink: 0;
  }
  main .news-slider-position__slider .slider {
    margin-bottom: 40px;
    margin-right: 0px;
  }
  main .newseletter {
    margin-bottom: 12px;
  }
  main .newseletter-position {
    display: flex;
    position: relative;
    padding-top: 0px;
    height: 538px;
  }
  main .newseletter-position-text {
    justify-content: start;
    align-items: start;
    width: 50%;
  }
  main .newseletter-position-text__heading {
    margin-top: 12%;
    width: 80%;
    max-width: 100%;
  }
  main .newseletter-position-text__text {
    margin-bottom: 7.5%;
    width: 78%;
  }
  main .newseletter-position-text__form {
    display: flex;
    flex-direction: column;
  }
  main .newseletter-position-text__form-form-position {
    flex-direction: row;
    margin-bottom: 5.8%;
  }
  main .newseletter-position-text__form-form-position input[type=email], main .newseletter-position-text__form-form-position .send {
    width: 45%;
    height: 48px;
  }
  main .newseletter-position-text__form-form-position input[type=email] {
    padding: 12px;
  }
  main .newseletter-position-text__form-form-position .send {
    margin-bottom: 0px;
  }
  main .newseletter-position-text__form-text {
    width: 85%;
    max-width: 100%;
    margin-bottom: 0px;
    font-size: 14px;
  }
  main .newseletter-position-photo {
    width: 50%;
    position: absolute;
    right: -20px;
    margin-right: 0px;
  }
  main .newseletter-position-photo__image {
    height: 538px;
  }
  main .newseletter-position-photo__logo-white {
    width: 246px;
    right: 41px;
    bottom: 50px;
  }
  main .beauty-position {
    display: flex;
    padding-top: 72px;
  }
  main .beauty-position-text {
    width: 33%;
  }
  main .beauty-position-text__-vector {
    margin-top: 23px;
  }
  main .beauty-position-text__heading {
    margin-top: 70px;
    margin-bottom: 50px;
  }
  main .beauty-position-text__text {
    margin-bottom: 70px;
    width: 85%;
  }
  main .beauty-position-text__image {
    top: 110px;
  }
  main .beauty-position-slider #carouselExampleIndicatorstwo {
    display: flex;
    max-width: 640px;
  }
  main .beauty-position-slider #carouselExampleIndicatorstwo .carousel-inner .carousel-item {
    width: 100%;
  }
  main .beauty-position-slider #carouselExampleIndicatorstwo .carousel-inner .carousel-item .carousel-item-position {
    width: 100%;
  }
  main .beauty-position-slider #carouselExampleIndicatorstwo .carousel-inner .carousel-item .carousel-item-position .slider {
    width: 300px;
  }
  main .blog-position {
    display: flex;
    flex-direction: column;
  }
  main .blog-position-text {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  main .blog-position-text-header__text {
    width: 75%;
  }
  main .blog-position-slider {
    display: flex;
    overflow-x: scroll;
  }
  main .blog-position-slider-big {
    order: 2;
    margin-left: 20px;
    width: 462px;
  }
  main .blog-position-slider-big-b {
    width: 462px;
    align-items: start;
  }
  main .blog-position-slider-big-b__photo {
    width: 100%;
    height: 400px;
    max-width: 100%;
  }
  main .blog-position-slider-big-b__heding, main .blog-position-slider-big-b__text, main .blog-position-slider-big-b .blog-time {
    width: 100%;
    max-width: 100%;
  }
  main .blog-position-slider-small {
    align-items: start;
  }
  main .blog-position-slider-small-position {
    overflow-x: hidden;
  }
  main .blog-position-slider-small-position-s {
    width: 221px;
  }
  main .blog-position-slider-small-position-s__text {
    -webkit-line-clamp: 10;
  }
  main .blog-position-slider-small-position-s__photo {
    width: 221px;
  }
  main .certificate-position-text {
    padding-top: 56px;
    justify-content: start;
  }
  main .certificate-position-photo {
    flex-wrap: nowrap;
  }
  main .certificate-position-photo-one {
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
  }
  main .certificate-position-photo-one .cert-one {
    height: 77px;
    width: 64px;
    margin-right: 49px;
    margin-bottom: 20px;
  }
  main .certificate-position-photo-one .cert-two {
    height: 63px;
    width: 130px;
    margin-right: 49px;
    margin-bottom: 20px;
  }
  main .certificate-position-photo-one .cert-three {
    height: 75px;
    width: 135px;
    margin-bottom: 20px;
  }
  main .certificate-position-photo-two {
    display: flex;
    flex-wrap: wrap;
  }
  main .certificate-position-photo-two .cert-four {
    height: 102px;
    width: 107px;
    margin-right: 49px;
    margin-bottom: 20px;
  }
  main .certificate-position-photo-two .cert-five {
    height: 95px;
    width: 110px;
    margin-right: 49px;
    margin-bottom: 20px;
  }
  main .certificate-position-photo-two .cert-six {
    height: 43px;
    width: 145px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1024px) {
  main .blog-position {
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .container-p-0 {
    padding-right: 0px;
  }
  .hiden-m-t {
    display: inline-block;
  }
  header .header-position {
    margin-top: 40px;
    width: 100%;
  }
  header .header-position-left {
    margin-top: 42px;
  }
  header .header-position-left__heading {
    margin-top: 60px;
    margin-bottom: 40px;
    width: 70%;
    font-size: 4.8rem;
  }
  header .header-position-left__text {
    margin-bottom: 60px;
    font-size: 1.9rem;
    width: 60%;
  }
  header .header-position-left .carousel-indicators {
    margin-top: 60px;
  }
  header .header-position-right {
    position: relative;
    margin: 0;
    right: 0px;
    width: 52%;
  }
  header .header-position-right__product {
    height: 350px;
    top: 25%;
  }
  header .header-position-right__messenger {
    top: 563px;
  }
  header .header-position-slider .carousel-inner {
    width: 434px;
  }
  header .header-position-slider .carousel-inner .carousel-item .product {
    margin: 0 auto;
    height: 350px;
  }
  main h2 {
    font-size: 5.2rem;
  }
  main h3 {
    font-size: 2.5rem;
  }
  main p {
    font-size: 1.9rem;
  }
  main .blog-time p {
    font-size: 1.4em;
  }
  main .banner-position__rect {
    height: 50px;
    margin-left: 34px;
  }
  main .blog-time {
    margin-top: 24px;
    margin-bottom: 20px;
  }
  main .read {
    margin-top: 20px;
  }
  main .bestseller-text {
    display: flex;
    justify-content: space-between;
  }
  main .bestseller-text-header__button {
    padding: 0;
    width: 450px;
  }
  main .bestseller-text-header__button .hiden-m-t {
    display: inline;
  }
  main .together__background {
    height: 600px;
  }
  main .together-text__heading {
    margin-bottom: 50px;
    font-size: 45px;
  }
  main .together-text__text {
    padding: 0px 38px;
    margin-bottom: 64px;
    width: 50%;
  }
  main .together-text .buyButton {
    width: 385px;
  }
  main .news-text__button {
    width: 450px;
  }
  main .news-slider-position__special-position {
    max-width: 790px;
  }
  main .news-slider-position__special-position__photo {
    height: 1122px;
  }
  main .news-slider-position__slider {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0px;
    width: 60%;
    max-width: 810px;
    height: 1122px;
  }
  main .news-slider-position__slider .slider {
    height: 541px;
    width: calc(50% - 20px);
    margin-left: 20px;
  }
  main .news-slider-position__slider .slider .slider-position {
    height: 275px;
    width: 100%;
  }
  main .newseletter-position {
    height: 600px;
  }
  main .newseletter-position-text__heading {
    margin-top: 64px;
  }
  main .newseletter-position-text__text {
    margin-bottom: 40px;
  }
  main .newseletter-position-text__form-form-position {
    margin-bottom: 0px;
  }
  main .newseletter-position-text__form-form-position input[type=email] {
    width: 52%;
    font-size: 1.9rem;
  }
  main .newseletter-position-text__form-form-position .send {
    width: 33%;
  }
  main .newseletter-position-photo {
    position: relative;
    margin: 0;
    right: 0px;
    width: 55%;
  }
  main .newseletter-position-photo__image {
    height: 600px;
  }
  main .newseletter-position-photo__logo-white {
    width: 334px;
    right: 53px;
    bottom: 50px;
  }
  main .beauty-position-text {
    width: 41.3%;
  }
  main .beauty-position-text__heading {
    margin-left: 43px;
  }
  main .beauty-position-text__image {
    width: 201px;
    height: 266px;
    top: 40px;
    left: 70px;
    margin-left: 43px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  main .beauty-position-slider #carouselExampleIndicatorstwo {
    max-width: 980px;
  }
  main .beauty-position-slider #carouselExampleIndicatorstwo .carousel-inner .carousel-item {
    width: 100%;
  }
  main .beauty-position-slider #carouselExampleIndicatorstwo .carousel-inner .carousel-item .carousel-item-position {
    width: 100%;
  }
  main .beauty-position-slider #carouselExampleIndicatorstwo .carousel-inner .carousel-item .carousel-item-position .slider {
    width: 300px;
  }
  main .beauty-position-slider #carouselExampleIndicatorstwo .carousel-inner .carousel-item .carousel-item-position .slider-position {
    height: 250px;
    width: 300px;
  }
  main .beauty-position-slider #carouselExampleIndicatorstwo .carousel-inner .carousel-item .carousel-item-position .slider-position-photo {
    width: 300px;
  }
  main .blog-position {
    align-items: normal;
  }
  main .blog-position-slider-big {
    margin-left: 20px;
    order: 2;
  }
  main .blog-position-slider-big-b {
    width: 790px;
  }
  main .blog-position-slider-big-b__photo {
    width: 100%;
    height: 442px;
  }
  main .blog-position-slider-big-b__heading, main .blog-position-slider-big-b__text, main .blog-position-slider-big-b .blog-time {
    width: 100%;
  }
  main .blog-position-slider-big-b__text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  main .blog-position-slider-small {
    align-items: start;
  }
  main .blog-position-slider-small-position {
    overflow-x: hidden;
  }
  main .blog-position-slider-small-position-s {
    width: 385px;
  }
  main .blog-position-slider-small-position-s__photo {
    width: 385px;
  }
  main .blog-position-slider-small-position-s__heding {
    margin-bottom: 20px;
  }
  main .certificate-position {
    display: flex;
    justify-content: space-between;
  }
  main .certificate-position-text {
    padding-top: 73px;
    width: 400px;
    margin-right: 160px;
  }
  main .certificate-position-text__heading {
    text-align: left;
  }
  main .certificate-position-photo {
    margin-top: 73px;
    justify-content: end;
  }
  main .certificate-position-photo-one {
    padding-bottom: 52px;
    margin-bottom: 0px;
  }
  main .certificate-position-photo-one .cert-one {
    height: 87px;
    width: 73px;
    margin-right: 49px;
    margin-bottom: 20px;
  }
  main .certificate-position-photo-one .cert-two {
    height: 70px;
    width: 146px;
    margin-right: 49px;
    margin-bottom: 20px;
  }
  main .certificate-position-photo-one .cert-three {
    height: 84px;
    width: 152px;
    margin-bottom: 20px;
  }
  main .certificate-position-photo-two {
    padding-bottom: 52px;
    margin-bottom: 0px;
  }
  main .certificate-position-photo-two .cert-four {
    height: 115px;
    width: 121px;
    margin-right: 49px;
    margin-bottom: 20px;
  }
  main .certificate-position-photo-two .cert-five {
    height: 106px;
    width: 123px;
    margin-right: 49px;
    margin-bottom: 20px;
  }
  main .certificate-position-photo-two .cert-six {
    height: 49px;
    width: 163px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1400px) {
  header .header-position {
    height: 780px;
  }
  header .header-position-left, header .header-position-right {
    height: 780px;
  }
  header .header-position-left__heading {
    margin-bottom: 60px;
    width: 73%;
    font-size: 52px;
  }
  header .header-position-left .carousel-indicators {
    margin-top: 110px;
  }
  header .header-position-right {
    width: 60%;
  }
  header .header-position-slider {
    left: -10%;
  }
  main .banner-position__rect {
    margin-left: 150px;
  }
  main .newseletter-position-text__heading {
    margin-top: 9%;
    margin-bottom: 30px;
  }
  main .newseletter-position-text__text {
    margin-bottom: 9%;
    font-size: 25px;
    width: 84%;
  }
  main .newseletter-position-photo {
    width: 60%;
  }
}
@media (min-width: 1906px) {
  main .blog-position-slider {
    overflow-x: hidden;
  }
  main .newseletter-position-text__text {
    width: 75%;
  }
}/*# sourceMappingURL=index.css.map */