@use './colors' as *;




button{
    text-transform: uppercase;
    font-weight: 1000;
}

.hiden-mobile{
    display: none;
}

@keyframes text{
    0%{  
        left: 0%
    }
    100%{
        left:30%;
    }
}


@media (min-width:375px){
    header{
        .container-xxl{
            .header-postion{
                .header-left{
                    padding-top: 32px;
                    padding-bottom: 140px;
                    text-align: center;
                    h1{
                        margin-bottom: 30px;
                        font-size: 32px;
                        font-weight: 1000;
                    }
                    p{
                        font-size: 16px;
                        color: #999999;
                        margin-bottom: 43px;
                    }
                    .header-buy{
                        padding: 12px 35px;
                        margin-bottom: 43px;
                        background-color: #000;
                        color: white;
                        img{
                            margin-left: 10px;
                        }
                    }
                    .elipse{
                        margin-bottom: 42px;
                    }
                }
                .header-right{
                    position: relative;
                    margin: 0px -20px;
                    .photo-header{
                        width: 100%;
                        height: 250px;
                        object-fit: cover;
                    }
                    .product{
                        position: absolute;
                        margin: 0 auto;
                        top: -60%;
                        left: 0px;
                        right: 0px;
                        height: 292px;
                    }
                }
            }
        }
        .header-banner{
            display: flex;
            flex-direction: column;
            overflow: hidden;
            .rect-postion{
                margin-top: 29px;
                display: flex;
                justify-content: flex-start;
                height: 30px;
                width: 100%;
                .rect{
                    margin-left: 20px;
                    width: 100%;
                    background-color: $rect-background;
                }
            }
            .marquee{
                display: flex;
                justify-content: right;
                height: 58px;
                font-size: 20px;
                white-space: nowrap;
                background-color: $marquee-background;
                text-align: center;
                    a{
                    display: flex;
                    align-items: center;
                    color: $marquee-text;
                    text-decoration: none;
                    animation: text 5s infinite linear;
                    position:relative; 
                    span{
                        .weight{
                            font-weight: 1000;
                        }
                    }
                    .dot{
                        margin: 0px 15px;
                        font-size: 40px;
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) { 

}


@media (min-width: 768px) { 
    .hiden-mobile{
        display: inline;
    }
    header{
        .container-xxl{
            .header-postion{
                display: flex;
                position: relative;
                margin-top: 28px;
                .header-left, .header-right{
                    height: 683px;
                    width: 50%;
                }
                .header-left{
                    margin-top: 3%;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    height: 641px;
                    text-align: left;
                    h1 ,p{
                        width: 60%;
                    }
                    h1{
                        font-size: 32px;
                        margin-top: 13%;
                        margin-bottom: 8%;
                    }
                    p{
                        margin-bottom: 12%;
                    }
                    .header-buy{
                        margin: 0;
                    }
                    .elipse{
                        margin-top: 14%;
                    }
                }
                .header-right{
                    position: absolute;
                    right: 0;
                    .photo-header{
                        height: 100%;
                    }
                    .product{
                        top: 35%;
                        left: -100%;
                        
                    }
                }
            }
        }
        .header-banner{
            .rect-postion{
                height: 42px;
            }
            .marquee{
                height: 72px;
            }
        }
    }
 }

@media (min-width: 992px) { 

 }


@media (min-width: 1200px) { 
    header{
        .container-p-0{
            padding-right: 0px;
        }
        .container-xxl{
            .header-postion{
                width: 100%;
                .header-left{
                    margin-top: 42px;
                    h1{
                        margin-top: 60px;
                        margin-bottom: 40px;
                        width: 80%;
                        font-size: 48px;
                    }
                    p{
                        margin-bottom: 60px;
                        font-size: 19px;
                    }
                    .header-buy{

                    }
                    .elipse{
                        margin-top: 60px;
                    }
                }
               .header-right{
                    position: relative;
                    margin: 0;
                    right: 0px;
                    width: 52%;
               } 
            }
        }
        .header-banner{
            .rect-postion{
                height: 50px;
                .rect{
                    margin-left: 34px;
                }
            }
            .marquee{
                height: 90px;
            }
        }
    }
}


@media (min-width: 1400px) {
    header{
        .container-xxl{
            .header-postion{
                .header-left,.header-right{
                    height: 780px;
                }
                .header-left{
                    h1{
                        margin-bottom: 60px;
                        width: 73%;
                        font-size: 52px;
                    }
                    .elipse{
                        margin-top: 110px;
                    }
                }
                .header-right{
                    width: 60%;
                    .photo-header{
                    }
               } 
            }
        }
        .header-banner{
            .rect-postion{
                .rect{
                    margin-left: 133px;
                }
            }
        }
    }
}