@use './colors' as *;




button{
    padding: 0;
    text-transform: uppercase;
    font-weight: 1000;
}

h1,h2,h3, .price{
    font-weight: 1000;
}

.hiden-mobile{
    display: none;
}

.bestseller{
    .container-xxl{
        .bestseller-slider{
            display: flex;
            overflow-x: scroll;
        }
    }
}

.no-favourite{
    content: url(../img/heart.png);
}

.favourite{
    content: url(../img/fav.png);
}

.no-favourite, .favourite{
    position: absolute;
    top: 20px;
    right: 20px;
    height: 44px;
    width: 44px;
}


.buy{
    padding: 12px 0px;
    margin-top: 28px;
    width: 100%;
    background-color: $bestseller-buy-button-background;
    color: $bestseller-buy-buton-hover;
    img{
        margin-left: 10px;
        filter: brightness(0);
    }
}

.buy:hover{
    padding: 12px 0px;
    margin-top: 28px;
    width: 100%;
    background-color: $bestseller-buy-buton-hover;
    color: $bestseller-text;
    img{
        margin-left: 10px;
        filter: brightness(100);
    }
}

@keyframes text{
    0%{  
        left: 0%
    }
    100%{
        left:30%;
    }
}


@media (min-width:375px){
    header{
        .container-xxl{
            .header-postion{
                .header-left{
                    padding-top: 32px;
                    padding-bottom: 140px;
                    text-align: center;
                    h1{
                        margin-bottom: 30px;
                        font-size: 32px;
                    }
                    p{
                        font-size: 16px;
                        color: #999999;
                        margin-bottom: 43px;
                    }
                    .header-buy{
                        padding: 12px 35px;
                        margin-bottom: 43px;
                        background-color: #000;
                        color: white;
                        img{
                            margin-left: 10px;
                        }
                    }
                    .elipse{
                        margin-bottom: 42px;
                    }
                }
                .header-right{
                    position: relative;
                    margin: 0px -20px;
                    .photo-header{
                        width: 100%;
                        height: 250px;
                        object-fit: cover;
                    }
                    .product{
                        position: absolute;
                        margin: 0 auto;
                        top: -60%;
                        left: 0px;
                        right: 0px;
                        height: 292px;
                    }
                }
            }
        }
        .header-banner{
            display: flex;
            flex-direction: column;
            overflow: hidden;
            .rect-postion{
                margin-top: 29px;
                display: flex;
                justify-content: flex-start;
                height: 30px;
                width: 100%;
                .rect{
                    margin-left: 20px;
                    width: 100%;
                    background-color: $rect-background;
                }
            }
            .marquee{
                display: flex;
                justify-content: right;
                height: 58px;
                font-size: 20px;
                white-space: nowrap;
                background-color: $marquee-background;
                text-align: center;
                    a{
                    display: flex;
                    align-items: center;
                    color: $marquee-text;
                    text-decoration: none;
                    animation: text 5s infinite linear;
                    position:relative; 
                    span{
                        .weight{
                            font-weight: 1000;
                        }
                    }
                    .dot{
                        margin: 0px 15px;
                        font-size: 40px;
                    }
                }
            }
        }
    }
    main{
        h2{
            font-size: 28px;
        }
        .bestseller{
            margin-bottom: 71px;
            .container-xxl{
                .bestseller-text{
                    margin-top: 64px;
                    .bestseller-header{
                        p{
                            margin-top: 20px;
                            margin-bottom: 40px;
                        }
                    }
                    .bestseller-button{
                        margin-bottom: 40px;
                        height: 48px;
                        width: 350px;
                        background-color: $bestseller-button-background;
                        color: $bestseller-text;
                        img{
                            margin-left: 10px;
                        }
                        .hiden-m-t{
                            display: none;
                        }
                    }
                }
                .bestseller-slider{
                    .best-slider{
                        width: 258px;
                        margin-right: 20px;
                        .slider-postion{
                            position: relative;
                            width: 257px;
                            height: 250px;
                            .best-photo{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .best-text{
                            margin-top: 28px;
                            .slider-header{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-bottom: 12px;
                                .slider-star{
                                    img{
                                        margin-left: 5px;
                                        width: 16px;
                                        height: 16px;
                                    }
                                }
                            }
                            .slider-price{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-top: 12px;
                                .price{
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                    .last-slider{
                        margin-right: 0px;
                    }
                }
            }
        }
        .together{
            position: relative;
            .tog-background{
                width: 100%;
                height: 500px;
                object-fit: cover;
                filter: brightness(50%);
            }
            .tog-postion{
                display: flex;
                position: absolute;
                margin: 0 auto;
                left: 0;
                right: 0;
                top: 25%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: white;
                h2{
                    margin-bottom: 20px;
                }
                p{
                    padding: 0px 38px;
                    margin-bottom: 40px;
                }
                .buy{
                    width: 215px;
                }
            }
        }
    }
}

@media (min-width: 576px) { 

}


@media (min-width: 768px) { 
    .hiden-mobile{
        display: inline;
    }
    header{
        .container-xxl{
            .header-postion{
                display: flex;
                position: relative;
                margin-top: 28px;
                .header-left, .header-right{
                    height: 683px;
                    width: 50%;
                }
                .header-left{
                    margin-top: 3%;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    height: 641px;
                    text-align: left;
                    h1 ,p{
                        width: 60%;
                    }
                    h1{
                        font-size: 32px;
                        margin-top: 13%;
                        margin-bottom: 8%;
                    }
                    p{
                        margin-bottom: 12%;
                    }
                    .header-buy{
                        margin: 0;
                    }
                    .elipse{
                        margin-top: 14%;
                    }
                }
                .header-right{
                    position: absolute;
                    right: 0;
                    .photo-header{
                        height: 100%;
                    }
                    .product{
                        top: 35%;
                        left: -100%;
                        
                    }
                }
            }
        }
        .header-banner{
            .rect-postion{
                height: 42px;
            }
            .marquee{
                height: 72px;
            }
        }
    }
    main{
        .bestseller{
            .container-xxl{
                .bestseller-text{
                    display: flex;
                    justify-content: space-between;
                    .bestseller-header{

                    }
                    .bestseller-button{
                        padding: 0;
                        width: 300px;
                    }
                }
                .bestseller-slider{
                    .best-slider{
                        width: 300px;
                        .slider-postion{
                            width: 300px;
                        }
                    }
                }
            }
        }
        .together{
            .tog-background{
                height: 400px;
            }
            .tog-postion{
                top: 23%;
                h2{
                    margin-bottom: 50px;
                }
                p{
                    padding: 0px 38px;
                    margin-bottom: 32px;
                    width: 70%;
                }
                .buy{
                    width: 215px;
                }
            }
        }
    }
 }

@media (min-width: 992px) { 

 }


@media (min-width: 1200px) { 
    header{
        .container-p-0{
            padding-right: 0px;
        }
        .container-xxl{
            .header-postion{
                margin-top: 40px;
                width: 100%;
                .header-left{
                    margin-top: 42px;
                    h1{
                        margin-top: 60px;
                        margin-bottom: 40px;
                        width: 80%;
                        font-size: 48px;
                    }
                    p{
                        margin-bottom: 60px;
                        font-size: 19px;
                    }
                    .header-buy{

                    }
                    .elipse{
                        margin-top: 60px;
                    }
                }
               .header-right{
                    position: relative;
                    margin: 0;
                    right: 0px;
                    width: 52%;
               } 
            }
        }
        .header-banner{
            .rect-postion{
                height: 50px;
                .rect{
                    margin-left: 34px;
                }
            }
            .marquee{
                height: 90px;
            }
        }
    }
    main{
        h2{
            font-size: 52px;
        }
        p{
            font-size: 19px;
        }
        .bestseller{
            .container-xxl{
                .bestseller-text{
                    display: flex;
                    justify-content: space-between;
                    .bestseller-button{
                        padding: 0;
                        width: 450px;
                        .hiden-m-t{
                            display: inline;
                        }
                    }
                }
                .bestseller-slider{
                    .best-slider{
                        width: 385px;
                        .slider-postion{
                            width: 385px;
                            height: 385px;
                        }
                        .best-text{
                            margin-top: 40px;
                            p{
                                font-size: 19px;
                            }
                        }
                    }
                }
            }
        }
        .together{
            .tog-background{
                height: 600px;
            }
            .tog-postion{
                h2{
                    margin-bottom: 50px;
                    font-size: 45px;
                }
                p{
                    padding: 0px 38px;
                    margin-bottom: 64px;
                    width: 50%;
                }
                .buy{
                    width: 385px;
                }
            }
        }
    }
}


@media (min-width: 1400px) {
    header{
        .container-xxl{
            .header-postion{
                .header-left,.header-right{
                    height: 780px;
                }
                .header-left{
                    h1{
                        margin-bottom: 60px;
                        width: 73%;
                        font-size: 52px;
                    }
                    .elipse{
                        margin-top: 110px;
                    }
                }
                .header-right{
                    width: 60%;
                    .photo-header{
                    }
               } 
            }
        }
        .header-banner{
            .rect-postion{
                .rect{
                    margin-left: 133px;
                }
            }
        }
    }
}
@media (min-width: 1906px){
    main{
        .bestseller{ 
            .container-xxl{ 
                .bestseller-slider {
                    overflow-x: unset;
                }
            }
        }    
    }
}