@use './colors' as *;




button{
    padding: 0;
    text-transform: uppercase;
    font-weight: 1000;
}


h1,h2,h3, .price{
    font-weight: 1000;
}

.p-color{
    color: #999999;
}

.hiden-mobile{
    display: none;
}

.elipse, .beauty-elipse{
    display: flex;
    .elip1{
        margin-right: 13px;
        width: 17px;
        height: 17px;
        background-color: #000;
        border-radius: 50%;
    }
    .elip2, .elip3, .elip4{
        margin-right: 13px;
        width: 17px;
        height: 17px;
        border: 1px solid black;
        border-radius: 50%;
    }
}

.bestseller-slider, .news-slider, .beauty-slider {
    display: flex;
    overflow-x: scroll;
}

.no-favourite{
    content: url(../img/heart.png);
}

.favourite{
    content: url(../img/fav.png);
}

.no-favourite, .favourite{
    position: absolute;
    top: 20px;
    right: 20px;
    height: 44px;
    width: 44px;
}


.bestseller-button, .send, .blog-buton{
    margin-bottom: 40px;
    height: 48px;
    width: 350px;
    background-color: $bestseller-button-background;
    color: $bestseller-text;
    img{
        margin-left: 10px;
    }
    .hiden-m-t{
        display: none;
    }
}

.buy{
    padding: 12px 0px;
    margin-top: 28px;
    width: 100%;
    background-color: $bestseller-buy-button-background;
    color: $bestseller-buy-buton-hover;
    img{
        margin-left: 10px;
        filter: brightness(0);
    }
}

.buy:hover{
    padding: 12px 0px;
    margin-top: 28px;
    width: 100%;
    background-color: $bestseller-buy-buton-hover;
    color: $bestseller-text;
    img{
        margin-left: 10px;
        filter: brightness(100);
    }
}

.slider-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    .price{
        font-size: 20px;
    }
}

.newseletter{
    background-color: $newseletter-background;
}

.blog-time{
    display: flex;
    margin-top: 28px;
    margin-bottom: 12px;
    .time{
        margin-left: 10px;
    }
}

.blog-s-photo{
    object-fit: cover;
}

@keyframes text{
    0%{  
        left: 0%
    }
    100%{
        left:30%;
    }
}


@media (min-width:375px){
    header{
        .container-xxl{
            .header-position{
                .header-left{
                    padding-top: 32px;
                    padding-bottom: 140px;
                    text-align: center;
                    h1{
                        margin-bottom: 30px;
                        font-size: 32px;
                    }
                    p{
                        font-size: 16px;
                        margin-bottom: 43px;
                    }
                    .header-buy{
                        padding: 12px 35px;
                        margin-bottom: 43px;
                        background-color: #000;
                        color: white;
                        img{
                            margin-left: 10px;
                        }
                    }
                    .elipse{
                        margin-bottom: 42px;
                    }
                }
                .header-right{
                    position: relative;
                    margin: 0px -20px;
                    .photo-header{
                        width: 100%;
                        height: 250px;
                        object-fit: cover;
                    }
                    .product{
                        position: absolute;
                        margin: 0 auto;
                        top: -60%;
                        left: 0px;
                        right: 0px;
                        height: 292px;
                    }
                }
            }
        }
    }
    main{
        h2{
            font-size: 28px;
            margin: 0;
        }
        h3{
            font-size: 20px;
        }
        .banner{
            .header-banner{
                display: flex;
                flex-direction: column;
                overflow: hidden;
                .rect-position{
                    display: flex;
                    justify-content: flex-start;
                    height: 30px;
                    width: 100%;
                    .rect{
                        margin-left: 20px;
                        width: 100%;
                        background-color: $rect-background;
                    }
                }
                .marquee{
                    display: flex;
                    justify-content: right;
                    height: 58px;
                    font-size: 20px;
                    white-space: nowrap;
                    background-color: $marquee-background;
                    text-align: center;
                        a{
                        display: flex;
                        align-items: center;
                        color: $marquee-text;
                        text-decoration: none;
                        animation: text 5s infinite linear;
                        position:relative; 
                        span{
                            .weight{
                                font-weight: 1000;
                            }
                        }
                        .dot{
                            margin: 0px 15px;
                            font-size: 40px;
                        }
                    }
                }
            }
        }
        .read{
            margin-top: 12px;
            img{
                margin-left: 12px;
            }
        }
        .bestseller-slider, .news-slider, .beauty-slider, .blog-small-slider{
            .best-slider, .new-slider, .blog-slider-small{
                width: 258px;
                margin-right: 20px;
                .slider-position, .blog-s-photo{
                    position: relative;
                    width: 257px;
                    height: 250px;
                    .best-photo{
                        width: 100%;
                        height: 100%;
                    }
                }
                .best-text, .new-text{
                    margin-top: 28px;
                    .slider-header{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 12px;
                        .slider-star{
                            img{
                                margin-left: 5px;
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                }
            }
            .last-slider{
                margin-right: 0px;
            }
        }
        .news-slid-position{
            .slider-position-flex{
                display: flex;
            }
        }
        .bestseller{
            margin-bottom: 71px;
            .container-xxl{
                .bestseller-text{
                    margin-top: 64px;
                    .bestseller-header{
                        p{
                            margin-top: 20px;
                            margin-bottom: 40px;
                        }
                    }
                }
            }
        }
        .together{
            position: relative;
            .tog-background{
                width: 100%;
                height: 500px;
                object-fit: cover;
                filter: brightness(50%);
            }
            .tog-position{
                display: flex;
                position: absolute;
                margin: 0 auto;
                left: 0;
                right: 0;
                top: 25%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: white;
                h2{
                    margin-bottom: 20px;
                }
                p{
                    padding: 0px 38px;
                    margin-bottom: 40px;
                }
                .buy{
                    width: 215px;
                }
            }
        }
        .news{
            padding-bottom: 71px;
            .container-xxl{
                .news-text{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 64px;
                    .news-header-text{
                        h2{
                            margin-bottom: 20px;
                        }
                        p{
                            margin-bottom: 40px; 
                         }
                    }
                }
                .news-special{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 40px;
                    .news-special-position{
                        position: relative;
                        .special-photo{
                            margin-bottom: 20px;
                            height: 500px;
                        }
                        .file{
                            position: absolute;
                            bottom:0;
                            left: -30px;
                            height: 300px;
                        }
                    }
                    .news-special-text{
                        .slider-header{
                            display: flex;
                            justify-content: space-between;
                        }
                    }
                }
            }
        }
        .newseletter{
            .container-xxl{
                .newseletter-position{
                    padding-top: 64px;
                    .newseletter-text{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        h2{
                            margin-bottom: 24px;
                            width: 350px;
                        }
                        p{
                            margin-bottom: 34px;
                            width: 350px;
                            font-weight: 800;
                            font-size: 20px;
                        }
                        form{
                            display: flex;
                            flex-direction: column;
                            .form-position{
                                display: flex;
                                flex-direction: column;   
                                input[type="email"]{
                                    border: 0;
                                    padding: 12px 111px;
                                    width: 350px;
                                }
                            }
                            .consent-container{
                                display: flex;
                                align-items: flex-start;
                                width: 350px;
                                margin-bottom: 76px;
                                input[type="checkbox"] {
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                    .newseletter-photo{
                        position: relative;
                        margin-left: -20px;
                        margin-right: -20px;
                        margin-bottom: 12px;
                        .newseletter-image{
                            height: 400px;
                            width: 100%;
                            object-fit: cover;
                        }
                        .logo-white{
                            position: absolute;
                            width: 172px;
                            bottom: 20px;
                            right: 20px;
                        }
                    }
                }
            }
        }
        .beauty{
            background-color: $beauty-background;
            .container-xxl{
                .beauty-postion{
                    padding-top: 64px;
                    padding-bottom: 64px;
                    .beauty-text{
                        z-index: 0;
                        position: relative;
                        .beauty-vector{
                            z-index: 2;
                        }
                        h2{
                            z-index: 1;
                            margin-top: 64px;
                            margin-bottom: 30px;
                        }
                        p{
                            margin-bottom: 30px;
                        }
                        .beauty-image{
                            position: absolute;
                            top: 80px;
                            left: 45px;
                            width: 145px;
                            height: 109px;
                            z-index: -1;
                        }
                        .beauty-elipse{
                            margin-bottom: 64px;
                        }
                    }
                    .beauty-slider{
                        .buy{
                            background-color: $beauty-button;
                        }

                        .buy:hover{
                            background-color: $bestseller-buy-buton-hover;
                            color: $bestseller-text;
                        }
                    }
                }
            }
        }
        .blog{
            .container-xxl{
                .blog-position{
                    .blog-text{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        text-align: center;
                        margin-bottom: 40px;
                        .blog-header{
                            h2{
                                margin-top: 64px;
                                margin-bottom: 32px;
                            }
                            p{
                                width: 350px;
                                margin-bottom: 40px;
                            }
                        }
                    }
                    .blog-slider{
                        .blog-big-slider{
                            .blog-slider-b{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: space-between;
                                margin-bottom: 32px;
                                .blog-b-photo{
                                    width: 350px
                                }
                                h3{
                                    margin-bottom: 12px;
                                }
                                h3,p, .blog-time,.read{
                                    width: 347px;
                                }
                                .read{
                                    text-align: left;
                                }
                            }
                        }
                        .blog-small-slider{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 64px;
                            .blog-s-position{
                                display: flex;
                                overflow-x: scroll;
                                .blog-slider-small{
                                    h3{
                                        margin-bottom: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .certificate{
            background-color: $certificate-background;
            .container-xxl{
                .certificate-position{
                    .certificate-text{
                        padding-top: 64px;
                        text-align: center;
                    }
                    .certificate-photo{
                        .cert-photo-one{
                            display: flex;
                            flex-wrap: wrap;
                            .cert-one{
                                width: 48px;
                                margin-right: 49px;
                                margin-bottom: 20px;
                            }
                            .cert-two{
                                width: 97px;
                                margin-right: 49px;
                                margin-bottom: 20px;
                            }
                            .cert-three{
                                width: 100px;
                                margin-bottom: 20px;
                            }
                            .cert-four{
                                width: 74px;
                                margin-right: 49px;
                                margin-bottom: 20px;
                            }
                            .cert-five{
                                width: 75px;   
                                margin-right: 49px;
                                margin-bottom: 20px;
                            }
                            .cert-six{
                                width: 100px;
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 509px) { 
    .certificate{
        .container-xxl{
            .certificate-position{
                .certificate-photo{
                    .cert-three{
                        margin-right: 49px;
                    }                   
                }
            }
        }
    }
}


@media (min-width: 768px) { 
    .hiden-mobile{
        display: inline;
    }
    .container-p-0{
        padding-right: 20px;
    }
    header{
        .container-xxl{
            .header-position{
                display: flex;
                position: relative;
                margin-top: 28px;
                height: 683px;
                .header-left, .header-right{
                    height: 683px;
                    width: 50%;
                }
                .header-left{
                    margin-top: 3%;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    height: 641px;
                    text-align: left;
                    h1 ,p{
                        width: 60%;
                    }
                    h1{
                        font-size: 32px;
                        margin-top: 13%;
                        margin-bottom: 8%;
                    }
                    p{
                        margin-bottom: 12%;
                    }
                    .header-buy{
                        margin: 0;
                    }
                    .elipse{
                        margin-top: 14%;
                    }
                }
                .header-right{
                    position: absolute;
                    right: 0;
                    .photo-header{
                        height: 100%;
                    }
                    .product{
                        top: 35%;
                        left: -100%;
                        
                    }
                }
            }
        }
    }
    main{
        .banner{
            .header-banner{
                .rect-position{
                    height: 42px;
                }
                .marquee{
                    height: 72px;
                }
            }
        }
        .bestseller-slider, .news-slider, .beauty-slider{
            .best-slider, .new-slider, .blog-slider{
                width: 300px;
                .slider-position{
                    width: 300px;
                }
            }
            .right-slider{
                margin-right: 0px;
            }
            
        }
        .news-slid-position{
            .slider-position-flex{
                display: block;
                .position-top{
                    margin-bottom: 40px;
                }
            }
        }
        .bestseller{
            .container-xxl{
                .bestseller-text{
                    display: flex;
                    justify-content: space-between;
                    .bestseller-button{
                        padding: 0;
                        width: 300px;
                    }
                }
            }
        }
        .together{
            .tog-background{
                height: 400px;
            }
            .tog-position{
                top: 23%;
                h2{
                    margin-bottom: 50px;
                }
                p{
                    padding: 0px 38px;
                    margin-bottom: 32px;
                    width: 70%;
                }
                .buy{
                    width: 215px;
                }
            }
        }
        .news{
            .container-xxl{
                .news-text{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .bestseller-button{
                        width: 300px;
                    }
                }
                .news-slid-position{
                    display: flex;
                    .news-special{
                        display: block;
                        position: relative;
                        margin-right: 20px;
                        width: 140%;
                        max-width: 623px;
                        .news-special-position{
                            width: 100%;
                            .special-photo{
                                height:1034px;
                                width: 100%;
                                object-fit: cover;
                            }
                            .file{
                                height: 460px;
                                bottom: 30px;
                                left: -100px;
                                z-index: 2;
                            }
                        }
                        .news-special-text{
                            position: absolute;
                            bottom: 60px;
                            right: 20px;
                            padding-top: 20px;
                            padding-right: 20px;
                            padding-bottom: 20px;
                            background-color: white;
                            .slider-price{
                                .buy{
                                    width: 100%;
                                    max-width: 215px;
                                }
                            }
                            .slider-header, .slider-price, .special-text{
                                margin-left: 100px;
                            }
                            .hiden-t-d{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .newseletter{
            margin-bottom: 12px;
            .container-xxl{
                .newseletter-position{
                    display: flex;
                    position: relative;
                    padding-top: 0px;
                    height: 538px;
                    .newseletter-text,.newseletter-photo{
                    }
                    .newseletter-text{
                        justify-content: start;
                        align-items: start;
                        width: 50%;
                        h2{
                            margin-top: 12%;
                            width: 80%;
                        }
                        p{
                            margin-bottom: 7.5%;
                            width: 78%;
                        }
                        form{
                            display: flex;
                            flex-direction: column;
                            .form-position{
                                flex-direction: row;
                                margin-bottom: 5.8%;
                                input[type="email"], .send{
                                    width: 45%;
                                    height: 48px;
                                }
                                input[type="email"]{
                                    padding: 12px;
                                }
                                .send{
                                    margin-bottom: 0px;
                                }
                            }
                            .consent-container{
                                width: 85%;
                                margin-bottom: 0px;
                            }
                        }
                    }
                    .newseletter-photo{
                        width: 50%;
                        position: absolute; 
                        right: -20px;
                        margin-right: 0px;
                        .newseletter-image{
                            height: 538px;
                        }
                    }
                }
            }
        }
        .beauty{
            .container-xxl{
                .beauty-postion{
                    display: flex;
                    padding-top: 72px;
                    .beauty-text{
                        width: 53%;
                        .beauty-vector{
                            margin-top: 23px;
                        }
                        h2{
                            margin-top: 70px;
                            margin-bottom: 50px;
                        }
                        p{
                            margin-bottom: 70px;
                            width: 85%;
                        }
                        .beauty-image{
                            top: 110px;
                        }
                        .beauty-elipse{
                            margin-bottom: 0px;
                        }
                    }
                    .beauty-slider{
                    }
                }
            }
        }
        .blog{
            .container-xxl{
                .blog-position{
                    display: flex;
                    flex-direction: column;
                    .blog-text{
                        width: 100%;
                        flex-direction: row;
                        justify-content: space-between;
                        text-align: left;
                        .blog-header{
                            p{
                                width: 75%;
                            }
                        }
                    }
                    .blog-slider{
                        display: flex;
                        overflow-x: scroll;
                        .blog-big-slider{
                            margin-left: 20px;
                            order: 2;
                            .blog-slider-b{
                                width: 462px;
                                .blog-b-photo{
                                    width: 100%;
                                    height: 400px;
                                }
                                h3,p, .blog-time, .read{
                                    width: 100%;
                                }
                            }
                        }
                        .blog-small-slider{
                            .blog-s-position{
                                overflow-x: hidden;
                                .blog-slider-small{
                                    width: 221px;
                                    .blog-s-photo{
                                        width: 221px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .certificate{
            .container-xxl{
                .certificate-position{
                    .certificate-text{
                        padding-top: 56px;
                        margin-bottom: 40px;
                        text-align: left;
                    }
                    .certificate-photo{
                        .cert-photo-one{
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            padding-bottom: 64px;
                            .cert-one{
                                height: 77px;
                                width: 64px;
                                margin-right: 49px;
                                margin-bottom: 20px;
                            }
                            .cert-two{
                                height: 63px;
                                width: 130px;
                                margin-right: 49px;
                                margin-bottom: 20px;
                            }
                            .cert-three{
                                height: 75px;
                                width: 135px;
                                margin-bottom: 20px;
                            }
                            .cert-four{
                                height: 102px;
                                width: 107px;
                                margin-right: 49px;
                                margin-bottom: 20px;
                            }
                            .cert-five{
                                height: 95px;
                                width: 110px;   
                                margin-right: 49px;
                                margin-bottom: 20px;
                            }
                            .cert-six{
                                height: 43px;
                                width: 145px;
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
 }

@media (min-width: 1024px) { 
    main{
        .blog{
            .container-xxl{
                .blog-position{
                    align-items: center;
                }
            }
        }
    }
 }


@media (min-width: 1200px) { 
    .container-p-0{
        padding-right: 0px;
    }
    header{
        .container-xxl{
            .header-position{
                margin-top: 40px;
                width: 100%;
                .header-left{
                    margin-top: 42px;
                    h1{
                        margin-top: 60px;
                        margin-bottom: 40px;
                        width: 80%;
                        font-size: 48px;
                    }
                    p{
                        margin-bottom: 60px;
                        font-size: 19px;
                    }
                    .header-buy{

                    }
                    .elipse{
                        margin-top: 60px;
                    }
                }
               .header-right{
                    position: relative;
                    margin: 0;
                    right: 0px;
                    width: 52%;
               } 
            }
        }
        .header-banner{
            .rect-position{
                height: 50px;
                .rect{
                    margin-left: 34px;
                }
            }
            .marquee{
                height: 90px;
            }
        }
    }
    main{
        h2{
            font-size: 52px;
        }
        h3{
            font-size: 25px;
        }
        p{
            font-size: 19px;
        }
        .blog-time{
            margin-top: 24px;
            margin-bottom: 20px;
        }
        .bestseller-slider, .news-slider{
            .best-slider, .new-slider{
                width: 385px;
                .slider-position{
                    width: 385px;
                    height: 385px;
                }
                .best-text, .new-text{
                    margin-top: 40px;
                    p{
                        font-size: 19px;
                    }
                }
            }
        }        
        .bestseller{
            .container-xxl{
                .bestseller-text{
                    display: flex;
                    justify-content: space-between;
                    .bestseller-button{
                        padding: 0;
                        width: 450px;
                        .hiden-m-t{
                            display: inline;
                        }
                    }
                }
            }
        }
        .together{
            .tog-background{
                height: 600px;
            }
            .tog-position{
                h2{
                    margin-bottom: 50px;
                    font-size: 45px;
                }
                p{
                    padding: 0px 38px;
                    margin-bottom: 64px;
                    width: 50%;
                }
                .buy{
                    width: 385px;
                }
            }
        }
        .news{
            .container-xxl{
                .news-slid-position{
                    .news-special{
                        .news-special-position{
                            .special-photo{
                                height: 1348px;
                            }
                        }
                        .news-special-text{
                            width: 550px;
                            .slider-header, .slider-price, .special-text{
                            }
                        }
                    }
                }
            }
        }
        .newseletter{
            .container-xxl{
                .newseletter-position{
                    height: 600px;
                    .newseletter-text{
                        h2{
                            margin-top: 64px;
                        }
                        p{
                            margin-bottom: 40px;
                        }
                        form{
                            .form-position{
                                margin-bottom: 30px;
                            }
                        }
                    }
                    .newseletter-photo{
                        position: relative;
                        margin: 0;
                        right: 0px;
                        width: 55%;
                        .newseletter-image{
                            height: 600px;
                        }
                    }
                }
            }
        }
        .beauty{
            .container-xxl{
                .beauty-postion{
                    .beauty-text{
                        width: 39%;
                        .beauty-image{
                            width: 201px;
                            height: 266px;
                            top: 40px;
                            left: 70px;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
        .blog{
            .container-xxl{
                .blog-position{
                    align-items: normal;
                    .blog-slider{
                        .blog-big-slider{
                            margin-left: 20px;
                            order: 2;
                            .blog-slider-b{
                                width: 790px;
                                .blog-b-photo{
                                    width: 100%;
                                    height: 442px;
                                }
                                h3,p, .blog-time{
                                    width: 100%;
                                }
                            }
                        }
                        .blog-small-slider{
                            align-items: start;
                            .blog-s-position{
                                overflow-x: hidden;
                                .blog-slider-small{
                                    width: 385px;
                                    .blog-s-photo{
                                        width: 385px;
                                    }
                                    h3{
                                        margin-bottom: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .certificate{
            .container-xxl{
                .certificate-position{
                    display: flex;
                    .certificate-text{
                        padding-top: 77px;
                        width: 400px;
                        margin-right: 160px;
                    }
                    .certificate-photo{
                        margin-top: 77px;
                        .cert-photo-one{
                            .cert-one{
                                height: 87px;
                                width: 73px;
                                margin-right: 49px;
                                margin-bottom: 20px;
                            }
                            .cert-two{
                                height: 70px;
                                width: 146px;
                                margin-right: 49px;
                                margin-bottom: 20px;
                            }
                            .cert-three{
                                height: 84px;
                                width: 152px;
                                margin-bottom: 20px;
                            }
                            .cert-four{
                                height: 115px;
                                width: 121px;
                                margin-right: 49px;
                                margin-bottom: 20px;
                            }
                            .cert-five{
                                height: 106px;
                                width: 123px;   
                                margin-right: 49px;
                                margin-bottom: 20px;
                            }
                            .cert-six{
                                height: 49px;
                                width: 163px;
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (min-width: 1400px) {
    header{
        .container-xxl{
            .header-position{
                height: 780px;
                .header-left,.header-right{
                    height: 780px;
                }
                .header-left{
                    h1{
                        margin-bottom: 60px;
                        width: 73%;
                        font-size: 52px;
                    }
                    .elipse{
                        margin-top: 110px;
                    }
                }
                .header-right{
                    width: 60%;
                    .photo-header{
                    }
               } 
            }
        }
    }
    main{
        .banner{
            .header-banner{
                .rect-position{
                    
                    .rect{
                        margin-left: 150px;
                    }
                }
            }
        }
        .news{
            .container-xxl{
                .news-slid-position{
                    .news-special{
                        width: 790px;
                        max-width: 790px;
                        .news-special-position{
                            width: 790px;
                            .special-photo{
                                width: 790px;
                            }
                            .file{
                                height: 550px;
                            }
                        }
                        .news-special-text{
                            right: 44px;
                            width: 658px;
                        }
                    }
                }
            }
        }
        .newseletter{
            .container-xxl{
                .newseletter-position{
                    .newseletter-text{
                        h2{
                            margin-top: 9%;
                            margin-bottom: 30px;
                        }
                        p{
                            margin-bottom: 9%;
                            font-size: 25px;
                            width: 75%;
                        }
                    }
                    .newseletter-photo{
                        width: 60%;
                    }
                }
            }
        }
    }
}
@media (min-width: 1906px){
    main{
        .bestseller-slider, .news-slider, .beauty-slider{
            overflow-x: hidden;
        }
        .blog{
            .container-xxl{
                .blog-position{
                    .blog-slider{
                        overflow-x: hidden;
                    }
                }
            }
        }
    }
}