button {
  padding: 0;
  text-transform: uppercase;
  font-weight: 1000;
}

h1, h2, h3, .price {
  font-weight: 1000;
}

.hiden-mobile {
  display: none;
}

.bestseller-slider, .news-slider, .beauty-slider, .blog-small-slider, .blog-s-position {
  display: flex;
  overflow-x: scroll;
}

.no-favourite {
  content: url(../img/heart.png);
}

.favourite {
  content: url(../img/fav.png);
}

.no-favourite, .favourite {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 44px;
  width: 44px;
}

.bestseller-button, .send, .blog-buton {
  margin-bottom: 40px;
  height: 48px;
  width: 350px;
  background-color: #000;
  color: #fff;
}
.bestseller-button img, .send img, .blog-buton img {
  margin-left: 10px;
}
.bestseller-button .hiden-m-t, .send .hiden-m-t, .blog-buton .hiden-m-t {
  display: none;
}

.buy {
  padding: 12px 0px;
  margin-top: 28px;
  width: 100%;
  background-color: #F4F1EC;
  color: #000;
}
.buy img {
  margin-left: 10px;
  filter: brightness(0);
}

.buy:hover {
  padding: 12px 0px;
  margin-top: 28px;
  width: 100%;
  background-color: #000;
  color: #fff;
}
.buy:hover img {
  margin-left: 10px;
  filter: brightness(100);
}

.slider-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.slider-price .price {
  font-size: 20px;
}

.newseletter {
  background-color: #E3D4C5;
}

.blog-time {
  display: flex;
  margin-top: 28px;
  margin-bottom: 12px;
}
.blog-time .time {
  margin-left: 10px;
}

.blog-s-photo {
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes text {
  0% {
    left: 0%;
  }
  100% {
    left: 30%;
  }
}
@media (min-width: 375px) {
  header .container-xxl .header-position .header-left {
    padding-top: 32px;
    padding-bottom: 140px;
    text-align: center;
  }
  header .container-xxl .header-position .header-left h1 {
    margin-bottom: 30px;
    font-size: 32px;
  }
  header .container-xxl .header-position .header-left p {
    font-size: 16px;
    color: #999999;
    margin-bottom: 43px;
  }
  header .container-xxl .header-position .header-left .header-buy {
    padding: 12px 35px;
    margin-bottom: 43px;
    background-color: #000;
    color: white;
  }
  header .container-xxl .header-position .header-left .header-buy img {
    margin-left: 10px;
  }
  header .container-xxl .header-position .header-left .elipse {
    margin-bottom: 42px;
  }
  header .container-xxl .header-position .header-right {
    position: relative;
    margin: 0px -20px;
  }
  header .container-xxl .header-position .header-right .photo-header {
    width: 100%;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  header .container-xxl .header-position .header-right .product {
    position: absolute;
    margin: 0 auto;
    top: -60%;
    left: 0px;
    right: 0px;
    height: 292px;
  }
  main h2 {
    font-size: 28px;
  }
  main h3 {
    font-size: 20px;
  }
  main .banner .header-banner {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  main .banner .header-banner .rect-position {
    display: flex;
    justify-content: flex-start;
    height: 30px;
    width: 100%;
  }
  main .banner .header-banner .rect-position .rect {
    margin-left: 20px;
    width: 100%;
    background-color: rgb(227, 212, 197);
  }
  main .banner .header-banner .marquee {
    display: flex;
    justify-content: right;
    height: 58px;
    font-size: 20px;
    white-space: nowrap;
    background-color: #000;
    text-align: center;
  }
  main .banner .header-banner .marquee a {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    animation: text 5s infinite linear;
    position: relative;
  }
  main .banner .header-banner .marquee a span .weight {
    font-weight: 1000;
  }
  main .banner .header-banner .marquee a .dot {
    margin: 0px 15px;
    font-size: 40px;
  }
  main .bestseller-slider .best-slider, main .bestseller-slider .new-slider, main .bestseller-slider .blog-slider-small, main .news-slider .best-slider, main .news-slider .new-slider, main .news-slider .blog-slider-small, main .beauty-slider .best-slider, main .beauty-slider .new-slider, main .beauty-slider .blog-slider-small, main .blog-small-slider .best-slider, main .blog-small-slider .new-slider, main .blog-small-slider .blog-slider-small {
    width: 258px;
    margin-right: 20px;
  }
  main .bestseller-slider .best-slider .slider-position, main .bestseller-slider .best-slider .blog-s-photo, main .bestseller-slider .new-slider .slider-position, main .bestseller-slider .new-slider .blog-s-photo, main .bestseller-slider .blog-slider-small .slider-position, main .bestseller-slider .blog-slider-small .blog-s-photo, main .news-slider .best-slider .slider-position, main .news-slider .best-slider .blog-s-photo, main .news-slider .new-slider .slider-position, main .news-slider .new-slider .blog-s-photo, main .news-slider .blog-slider-small .slider-position, main .news-slider .blog-slider-small .blog-s-photo, main .beauty-slider .best-slider .slider-position, main .beauty-slider .best-slider .blog-s-photo, main .beauty-slider .new-slider .slider-position, main .beauty-slider .new-slider .blog-s-photo, main .beauty-slider .blog-slider-small .slider-position, main .beauty-slider .blog-slider-small .blog-s-photo, main .blog-small-slider .best-slider .slider-position, main .blog-small-slider .best-slider .blog-s-photo, main .blog-small-slider .new-slider .slider-position, main .blog-small-slider .new-slider .blog-s-photo, main .blog-small-slider .blog-slider-small .slider-position, main .blog-small-slider .blog-slider-small .blog-s-photo {
    position: relative;
    width: 257px;
    height: 250px;
  }
  main .bestseller-slider .best-slider .slider-position .best-photo, main .bestseller-slider .best-slider .blog-s-photo .best-photo, main .bestseller-slider .new-slider .slider-position .best-photo, main .bestseller-slider .new-slider .blog-s-photo .best-photo, main .bestseller-slider .blog-slider-small .slider-position .best-photo, main .bestseller-slider .blog-slider-small .blog-s-photo .best-photo, main .news-slider .best-slider .slider-position .best-photo, main .news-slider .best-slider .blog-s-photo .best-photo, main .news-slider .new-slider .slider-position .best-photo, main .news-slider .new-slider .blog-s-photo .best-photo, main .news-slider .blog-slider-small .slider-position .best-photo, main .news-slider .blog-slider-small .blog-s-photo .best-photo, main .beauty-slider .best-slider .slider-position .best-photo, main .beauty-slider .best-slider .blog-s-photo .best-photo, main .beauty-slider .new-slider .slider-position .best-photo, main .beauty-slider .new-slider .blog-s-photo .best-photo, main .beauty-slider .blog-slider-small .slider-position .best-photo, main .beauty-slider .blog-slider-small .blog-s-photo .best-photo, main .blog-small-slider .best-slider .slider-position .best-photo, main .blog-small-slider .best-slider .blog-s-photo .best-photo, main .blog-small-slider .new-slider .slider-position .best-photo, main .blog-small-slider .new-slider .blog-s-photo .best-photo, main .blog-small-slider .blog-slider-small .slider-position .best-photo, main .blog-small-slider .blog-slider-small .blog-s-photo .best-photo {
    width: 100%;
    height: 100%;
  }
  main .bestseller-slider .best-slider .best-text, main .bestseller-slider .best-slider .new-text, main .bestseller-slider .new-slider .best-text, main .bestseller-slider .new-slider .new-text, main .bestseller-slider .blog-slider-small .best-text, main .bestseller-slider .blog-slider-small .new-text, main .news-slider .best-slider .best-text, main .news-slider .best-slider .new-text, main .news-slider .new-slider .best-text, main .news-slider .new-slider .new-text, main .news-slider .blog-slider-small .best-text, main .news-slider .blog-slider-small .new-text, main .beauty-slider .best-slider .best-text, main .beauty-slider .best-slider .new-text, main .beauty-slider .new-slider .best-text, main .beauty-slider .new-slider .new-text, main .beauty-slider .blog-slider-small .best-text, main .beauty-slider .blog-slider-small .new-text, main .blog-small-slider .best-slider .best-text, main .blog-small-slider .best-slider .new-text, main .blog-small-slider .new-slider .best-text, main .blog-small-slider .new-slider .new-text, main .blog-small-slider .blog-slider-small .best-text, main .blog-small-slider .blog-slider-small .new-text {
    margin-top: 28px;
  }
  main .bestseller-slider .best-slider .best-text .slider-header, main .bestseller-slider .best-slider .new-text .slider-header, main .bestseller-slider .new-slider .best-text .slider-header, main .bestseller-slider .new-slider .new-text .slider-header, main .bestseller-slider .blog-slider-small .best-text .slider-header, main .bestseller-slider .blog-slider-small .new-text .slider-header, main .news-slider .best-slider .best-text .slider-header, main .news-slider .best-slider .new-text .slider-header, main .news-slider .new-slider .best-text .slider-header, main .news-slider .new-slider .new-text .slider-header, main .news-slider .blog-slider-small .best-text .slider-header, main .news-slider .blog-slider-small .new-text .slider-header, main .beauty-slider .best-slider .best-text .slider-header, main .beauty-slider .best-slider .new-text .slider-header, main .beauty-slider .new-slider .best-text .slider-header, main .beauty-slider .new-slider .new-text .slider-header, main .beauty-slider .blog-slider-small .best-text .slider-header, main .beauty-slider .blog-slider-small .new-text .slider-header, main .blog-small-slider .best-slider .best-text .slider-header, main .blog-small-slider .best-slider .new-text .slider-header, main .blog-small-slider .new-slider .best-text .slider-header, main .blog-small-slider .new-slider .new-text .slider-header, main .blog-small-slider .blog-slider-small .best-text .slider-header, main .blog-small-slider .blog-slider-small .new-text .slider-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }
  main .bestseller-slider .best-slider .best-text .slider-header .slider-star img, main .bestseller-slider .best-slider .new-text .slider-header .slider-star img, main .bestseller-slider .new-slider .best-text .slider-header .slider-star img, main .bestseller-slider .new-slider .new-text .slider-header .slider-star img, main .bestseller-slider .blog-slider-small .best-text .slider-header .slider-star img, main .bestseller-slider .blog-slider-small .new-text .slider-header .slider-star img, main .news-slider .best-slider .best-text .slider-header .slider-star img, main .news-slider .best-slider .new-text .slider-header .slider-star img, main .news-slider .new-slider .best-text .slider-header .slider-star img, main .news-slider .new-slider .new-text .slider-header .slider-star img, main .news-slider .blog-slider-small .best-text .slider-header .slider-star img, main .news-slider .blog-slider-small .new-text .slider-header .slider-star img, main .beauty-slider .best-slider .best-text .slider-header .slider-star img, main .beauty-slider .best-slider .new-text .slider-header .slider-star img, main .beauty-slider .new-slider .best-text .slider-header .slider-star img, main .beauty-slider .new-slider .new-text .slider-header .slider-star img, main .beauty-slider .blog-slider-small .best-text .slider-header .slider-star img, main .beauty-slider .blog-slider-small .new-text .slider-header .slider-star img, main .blog-small-slider .best-slider .best-text .slider-header .slider-star img, main .blog-small-slider .best-slider .new-text .slider-header .slider-star img, main .blog-small-slider .new-slider .best-text .slider-header .slider-star img, main .blog-small-slider .new-slider .new-text .slider-header .slider-star img, main .blog-small-slider .blog-slider-small .best-text .slider-header .slider-star img, main .blog-small-slider .blog-slider-small .new-text .slider-header .slider-star img {
    margin-left: 5px;
    width: 16px;
    height: 16px;
  }
  main .bestseller-slider .last-slider, main .news-slider .last-slider, main .beauty-slider .last-slider, main .blog-small-slider .last-slider {
    margin-right: 0px;
  }
  main .news-slid-position .slider-position-flex {
    display: flex;
  }
  main .bestseller {
    margin-bottom: 71px;
  }
  main .bestseller .container-xxl .bestseller-text {
    margin-top: 64px;
  }
  main .bestseller .container-xxl .bestseller-text .bestseller-header p {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  main .together {
    position: relative;
  }
  main .together .tog-background {
    width: 100%;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
    filter: brightness(50%);
  }
  main .together .tog-position {
    display: flex;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  main .together .tog-position h2 {
    margin-bottom: 20px;
  }
  main .together .tog-position p {
    padding: 0px 38px;
    margin-bottom: 40px;
  }
  main .together .tog-position .buy {
    width: 215px;
  }
  main .news {
    padding-bottom: 71px;
  }
  main .news .container-xxl .news-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
  }
  main .news .container-xxl .news-text .news-header-text h2 {
    margin-bottom: 20px;
  }
  main .news .container-xxl .news-text .news-header-text p {
    margin-bottom: 40px;
  }
  main .news .container-xxl .news-special {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  main .news .container-xxl .news-special .news-special-position {
    position: relative;
  }
  main .news .container-xxl .news-special .news-special-position .special-photo {
    margin-bottom: 20px;
    height: 500px;
  }
  main .news .container-xxl .news-special .news-special-position .file {
    position: absolute;
    bottom: 0;
    left: -30px;
    height: 300px;
  }
  main .news .container-xxl .news-special .news-special-text .slider-header {
    display: flex;
    justify-content: space-between;
  }
  main .newseletter .container-xxl .newseletter-position {
    padding-top: 64px;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-text h2 {
    margin-bottom: 24px;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-text p {
    margin-bottom: 34px;
    font-weight: 800;
    font-size: 20px;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-text form {
    display: flex;
    flex-direction: column;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-text form .form-position {
    display: flex;
    flex-direction: column;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-text form .form-position input[type=email] {
    border: 0;
    padding: 12px 111px;
    width: 350px;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-text form .consent-container {
    display: flex;
    align-items: flex-start;
    width: 350px;
    margin-bottom: 76px;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-text form .consent-container input[type=checkbox] {
    margin-right: 10px;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-photo {
    position: relative;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 12px;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-photo .newseletter-image {
    height: 400px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-photo .logo-white {
    position: absolute;
    width: 172px;
    bottom: 20px;
    right: 20px;
  }
  main .beauty {
    background-color: #F4F1EC;
  }
  main .beauty .container-xxl .beauty-postion {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  main .beauty .container-xxl .beauty-postion .beauty-text {
    z-index: 0;
    position: relative;
  }
  main .beauty .container-xxl .beauty-postion .beauty-text .beauty-vector {
    z-index: 2;
  }
  main .beauty .container-xxl .beauty-postion .beauty-text h2 {
    z-index: 1;
    margin-top: 64px;
    margin-bottom: 30px;
  }
  main .beauty .container-xxl .beauty-postion .beauty-text p {
    margin-bottom: 30px;
  }
  main .beauty .container-xxl .beauty-postion .beauty-text .beauty-image {
    position: absolute;
    top: 80px;
    left: 45px;
    width: 145px;
    height: 109px;
    z-index: -1;
  }
  main .beauty .container-xxl .beauty-postion .beauty-text .beauty-elipse {
    margin-bottom: 64px;
  }
  main .beauty .container-xxl .beauty-postion .beauty-slider .buy {
    background-color: #E3D4C5;
  }
  main .beauty .container-xxl .beauty-postion .beauty-slider .buy:hover {
    background-color: #000;
    color: #fff;
  }
  main .blog .container-xxl .blog-position .blog-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 40px;
  }
  main .blog .container-xxl .blog-position .blog-text .blog-header h2 {
    margin-top: 64px;
    margin-bottom: 32px;
  }
  main .blog .container-xxl .blog-position .blog-text .blog-header p {
    width: 350px;
    margin-bottom: 40px;
  }
  main .blog .container-xxl .blog-position .blog-slider .blog-big-slider .blog-slider-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  main .blog .container-xxl .blog-position .blog-slider .blog-big-slider .blog-slider-b .blog-b-photo {
    width: 350px;
  }
  main .blog .container-xxl .blog-position .blog-slider .blog-big-slider .blog-slider-b h3 {
    margin-bottom: 12px;
  }
  main .blog .container-xxl .blog-position .blog-slider .blog-big-slider .blog-slider-b h3, main .blog .container-xxl .blog-position .blog-slider .blog-big-slider .blog-slider-b p, main .blog .container-xxl .blog-position .blog-slider .blog-big-slider .blog-slider-b .blog-time {
    width: 347px;
  }
  main .blog .container-xxl .blog-position .blog-slider .blog-small-slider {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .blog .container-xxl .blog-position .blog-slider .blog-small-slider .blog-s-position .blog-slider-small h3 {
    margin-bottom: 12px;
  }
}
@media (min-width: 768px) {
  .hiden-mobile {
    display: inline;
  }
  .container-p-0 {
    padding-right: 20px;
  }
  header .container-xxl .header-position {
    display: flex;
    position: relative;
    margin-top: 28px;
    height: 683px;
  }
  header .container-xxl .header-position .header-left, header .container-xxl .header-position .header-right {
    height: 683px;
    width: 50%;
  }
  header .container-xxl .header-position .header-left {
    margin-top: 3%;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 641px;
    text-align: left;
  }
  header .container-xxl .header-position .header-left h1, header .container-xxl .header-position .header-left p {
    width: 60%;
  }
  header .container-xxl .header-position .header-left h1 {
    font-size: 32px;
    margin-top: 13%;
    margin-bottom: 8%;
  }
  header .container-xxl .header-position .header-left p {
    margin-bottom: 12%;
  }
  header .container-xxl .header-position .header-left .header-buy {
    margin: 0;
  }
  header .container-xxl .header-position .header-left .elipse {
    margin-top: 14%;
  }
  header .container-xxl .header-position .header-right {
    position: absolute;
    right: 0;
  }
  header .container-xxl .header-position .header-right .photo-header {
    height: 100%;
  }
  header .container-xxl .header-position .header-right .product {
    top: 35%;
    left: -100%;
  }
  main .banner .header-banner .rect-position {
    height: 42px;
  }
  main .banner .header-banner .marquee {
    height: 72px;
  }
  main .bestseller-slider .best-slider, main .bestseller-slider .new-slider, main .bestseller-slider .blog-slider, main .news-slider .best-slider, main .news-slider .new-slider, main .news-slider .blog-slider, main .beauty-slider .best-slider, main .beauty-slider .new-slider, main .beauty-slider .blog-slider {
    width: 300px;
  }
  main .bestseller-slider .best-slider .slider-position, main .bestseller-slider .new-slider .slider-position, main .bestseller-slider .blog-slider .slider-position, main .news-slider .best-slider .slider-position, main .news-slider .new-slider .slider-position, main .news-slider .blog-slider .slider-position, main .beauty-slider .best-slider .slider-position, main .beauty-slider .new-slider .slider-position, main .beauty-slider .blog-slider .slider-position {
    width: 300px;
  }
  main .bestseller-slider .right-slider, main .news-slider .right-slider, main .beauty-slider .right-slider {
    margin-right: 0px;
  }
  main .news-slid-position .slider-position-flex {
    display: block;
  }
  main .news-slid-position .slider-position-flex .position-top {
    margin-bottom: 40px;
  }
  main .bestseller .container-xxl .bestseller-text {
    display: flex;
    justify-content: space-between;
  }
  main .bestseller .container-xxl .bestseller-text .bestseller-button {
    padding: 0;
    width: 300px;
  }
  main .together .tog-background {
    height: 400px;
  }
  main .together .tog-position {
    top: 23%;
  }
  main .together .tog-position h2 {
    margin-bottom: 50px;
  }
  main .together .tog-position p {
    padding: 0px 38px;
    margin-bottom: 32px;
    width: 70%;
  }
  main .together .tog-position .buy {
    width: 215px;
  }
  main .news .container-xxl .news-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  main .news .container-xxl .news-text .bestseller-button {
    width: 300px;
  }
  main .news .container-xxl .news-slid-position {
    display: flex;
  }
  main .news .container-xxl .news-slid-position .news-special {
    display: block;
    position: relative;
    margin-right: 20px;
    width: 140%;
    max-width: 623px;
  }
  main .news .container-xxl .news-slid-position .news-special .news-special-position {
    width: 100%;
  }
  main .news .container-xxl .news-slid-position .news-special .news-special-position .special-photo {
    height: 1034px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .news .container-xxl .news-slid-position .news-special .news-special-position .file {
    height: 460px;
    bottom: 30px;
    left: -100px;
    z-index: 2;
  }
  main .news .container-xxl .news-slid-position .news-special .news-special-text {
    position: absolute;
    bottom: 60px;
    right: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: white;
  }
  main .news .container-xxl .news-slid-position .news-special .news-special-text .slider-price .buy {
    width: 100%;
    max-width: 215px;
  }
  main .news .container-xxl .news-slid-position .news-special .news-special-text .slider-header, main .news .container-xxl .news-slid-position .news-special .news-special-text .slider-price, main .news .container-xxl .news-slid-position .news-special .news-special-text .special-text {
    margin-left: 100px;
  }
  main .news .container-xxl .news-slid-position .news-special .news-special-text .hiden-t-d {
    display: none;
  }
  main .newseletter {
    margin-bottom: 12px;
  }
  main .newseletter .container-xxl .newseletter-position {
    display: flex;
    position: relative;
    padding-top: 0px;
    height: 538px;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-text {
    justify-content: start;
    align-items: start;
    width: 50%;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-text h2 {
    margin-top: 12%;
    width: 80%;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-text p {
    margin-bottom: 7.5%;
    width: 78%;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-text form {
    display: flex;
    flex-direction: column;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-text form .form-position {
    flex-direction: row;
    margin-bottom: 5.8%;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-text form .form-position input[type=email], main .newseletter .container-xxl .newseletter-position .newseletter-text form .form-position .send {
    width: 45%;
    height: 48px;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-text form .form-position input[type=email] {
    padding: 12px;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-text form .form-position .send {
    margin-bottom: 0px;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-text form .consent-container {
    width: 85%;
    margin-bottom: 0px;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-photo {
    width: 50%;
    position: absolute;
    right: -20px;
    margin-right: 0px;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-photo .newseletter-image {
    height: 538px;
  }
  main .beauty .container-xxl .beauty-postion {
    display: flex;
    padding-top: 72px;
  }
  main .beauty .container-xxl .beauty-postion .beauty-text {
    width: 53%;
  }
  main .beauty .container-xxl .beauty-postion .beauty-text .beauty-vector {
    margin-top: 23px;
  }
  main .beauty .container-xxl .beauty-postion .beauty-text h2 {
    margin-top: 70px;
    margin-bottom: 50px;
  }
  main .beauty .container-xxl .beauty-postion .beauty-text p {
    margin-bottom: 70px;
    width: 85%;
  }
  main .beauty .container-xxl .beauty-postion .beauty-text .beauty-image {
    top: 110px;
  }
  main .beauty .container-xxl .beauty-postion .beauty-text .beauty-elipse {
    margin-bottom: 0px;
  }
  main .blog .container-xxl .blog-position {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .blog .container-xxl .blog-position .blog-text {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
  main .blog .container-xxl .blog-position .blog-slider {
    display: flex;
    overflow-x: scroll;
  }
  main .blog .container-xxl .blog-position .blog-slider .blog-big-slider {
    margin-left: 20px;
    order: 2;
  }
  main .blog .container-xxl .blog-position .blog-slider .blog-big-slider .blog-slider-b {
    width: 462px;
  }
  main .blog .container-xxl .blog-position .blog-slider .blog-big-slider .blog-slider-b .blog-b-photo {
    width: 100%;
    height: 400px;
  }
  main .blog .container-xxl .blog-position .blog-slider .blog-big-slider .blog-slider-b h3, main .blog .container-xxl .blog-position .blog-slider .blog-big-slider .blog-slider-b p, main .blog .container-xxl .blog-position .blog-slider .blog-big-slider .blog-slider-b .blog-time {
    width: 100%;
  }
  main .blog .container-xxl .blog-position .blog-slider .blog-small-slider {
    align-items: start;
    overflow-x: hidden;
  }
  main .blog .container-xxl .blog-position .blog-slider .blog-small-slider .blog-s-position {
    overflow-x: hidden;
  }
  main .blog .container-xxl .blog-position .blog-slider .blog-small-slider .blog-s-position .blog-slider-small {
    overflow-x: hidden;
    width: 221px;
  }
  main .blog .container-xxl .blog-position .blog-slider .blog-small-slider .blog-s-position .blog-slider-small .blog-s-photo {
    width: 221px;
  }
}
@media (min-width: 1200px) {
  .container-p-0 {
    padding-right: 0px;
  }
  header .container-xxl .header-position {
    margin-top: 40px;
    width: 100%;
  }
  header .container-xxl .header-position .header-left {
    margin-top: 42px;
  }
  header .container-xxl .header-position .header-left h1 {
    margin-top: 60px;
    margin-bottom: 40px;
    width: 80%;
    font-size: 48px;
  }
  header .container-xxl .header-position .header-left p {
    margin-bottom: 60px;
    font-size: 19px;
  }
  header .container-xxl .header-position .header-left .elipse {
    margin-top: 60px;
  }
  header .container-xxl .header-position .header-right {
    position: relative;
    margin: 0;
    right: 0px;
    width: 52%;
  }
  header .header-banner .rect-position {
    height: 50px;
  }
  header .header-banner .rect-position .rect {
    margin-left: 34px;
  }
  header .header-banner .marquee {
    height: 90px;
  }
  main h2 {
    font-size: 52px;
  }
  main p {
    font-size: 19px;
  }
  main .bestseller-slider .best-slider, main .bestseller-slider .new-slider, main .news-slider .best-slider, main .news-slider .new-slider {
    width: 385px;
  }
  main .bestseller-slider .best-slider .slider-position, main .bestseller-slider .new-slider .slider-position, main .news-slider .best-slider .slider-position, main .news-slider .new-slider .slider-position {
    width: 385px;
    height: 385px;
  }
  main .bestseller-slider .best-slider .best-text, main .bestseller-slider .best-slider .new-text, main .bestseller-slider .new-slider .best-text, main .bestseller-slider .new-slider .new-text, main .news-slider .best-slider .best-text, main .news-slider .best-slider .new-text, main .news-slider .new-slider .best-text, main .news-slider .new-slider .new-text {
    margin-top: 40px;
  }
  main .bestseller-slider .best-slider .best-text p, main .bestseller-slider .best-slider .new-text p, main .bestseller-slider .new-slider .best-text p, main .bestseller-slider .new-slider .new-text p, main .news-slider .best-slider .best-text p, main .news-slider .best-slider .new-text p, main .news-slider .new-slider .best-text p, main .news-slider .new-slider .new-text p {
    font-size: 19px;
  }
  main .bestseller .container-xxl .bestseller-text {
    display: flex;
    justify-content: space-between;
  }
  main .bestseller .container-xxl .bestseller-text .bestseller-button {
    padding: 0;
    width: 450px;
  }
  main .bestseller .container-xxl .bestseller-text .bestseller-button .hiden-m-t {
    display: inline;
  }
  main .together .tog-background {
    height: 600px;
  }
  main .together .tog-position h2 {
    margin-bottom: 50px;
    font-size: 45px;
  }
  main .together .tog-position p {
    padding: 0px 38px;
    margin-bottom: 64px;
    width: 50%;
  }
  main .together .tog-position .buy {
    width: 385px;
  }
  main .news .container-xxl .news-slid-position .news-special .news-special-position .special-photo {
    height: 1348px;
  }
  main .news .container-xxl .news-slid-position .news-special .news-special-text {
    width: 550px;
  }
  main .newseletter .container-xxl .newseletter-position {
    height: 600px;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-text h2 {
    margin-top: 64px;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-text p {
    margin-bottom: 40px;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-text form .form-position {
    margin-bottom: 30px;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-photo {
    position: relative;
    margin: 0;
    right: 0px;
    width: 55%;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-photo .newseletter-image {
    height: 600px;
  }
  main .beauty .container-xxl .beauty-postion .beauty-text {
    width: 39%;
  }
  main .beauty .container-xxl .beauty-postion .beauty-text .beauty-image {
    width: 201px;
    height: 266px;
    top: 40px;
    left: 70px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (min-width: 1400px) {
  header .container-xxl .header-position .header-left, header .container-xxl .header-position .header-right {
    height: 780px;
  }
  header .container-xxl .header-position .header-left h1 {
    margin-bottom: 60px;
    width: 73%;
    font-size: 52px;
  }
  header .container-xxl .header-position .header-left .elipse {
    margin-top: 110px;
  }
  header .container-xxl .header-position .header-right {
    width: 60%;
  }
  header .header-banner .rect-position .rect {
    margin-left: 133px;
  }
  main .news .container-xxl .news-slid-position .news-special {
    width: 790px;
    max-width: 790px;
  }
  main .news .container-xxl .news-slid-position .news-special .news-special-position {
    width: 790px;
  }
  main .news .container-xxl .news-slid-position .news-special .news-special-position .special-photo {
    width: 790px;
  }
  main .news .container-xxl .news-slid-position .news-special .news-special-position .file {
    height: 550px;
  }
  main .news .container-xxl .news-slid-position .news-special .news-special-text {
    right: 44px;
    width: 658px;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-text h2 {
    margin-top: 9%;
    margin-bottom: 30px;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-text p {
    margin-bottom: 9%;
    font-size: 25px;
    width: 75%;
  }
  main .newseletter .container-xxl .newseletter-position .newseletter-photo {
    width: 60%;
  }
}
@media (min-width: 1906px) {
  main .bestseller-slider, main .news-slider, main .beauty-slider {
    overflow-x: unset;
  }
}/*# sourceMappingURL=index.css.map */