@use './colors' as *;

*{
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
}

p{
    margin: 0;
}
button{
    background: none;
    border: none;
    cursor: pointer;
}

footer{
    z-index: 1;
    background-color: $footer-background;
}

.container-xxl{
    padding: 0px 20px;
}

.notification {
    z-index: 100;
    background-color: $notification-background; 
    color: $notification-text;
    .notification-position{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        .close-btn {
            img{
                width: 32px;
            }
        }
    }
}
.navbar{
    z-index: 100;
    padding: 0;
    display: block;
}

.cookie-popup{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $cookie-bacground;
    z-index: 2;
    .container-xxl{
        .cookie-position{
            display: flex;
            justify-content: space-between;
            align-items: start;
        }
    }
}

.footer-padding-small {
    padding-bottom: 39px !important;
}

.footer-padding-large {
    padding-bottom: 32px !important;
}
@media (min-width: 375px) {
    .container-xxl{
        padding: 0px 20px 0px 20px; 
    }
    .notification{
        padding-top: 13px;
        padding-bottom: 15px;
    }
    .navbar{
        top: 60px;
        padding-top: 15px;
        padding-bottom: 12px; 
        background-color: $nav-background;
        .nav-flex{
            .navbar-toggler{
                padding: 4px 6px;
                border: none;
                .navbar-toggler-icon{
                    height: 32px;
                    width: 32px;
                    background-image: url(../img/hamburger.png);
                }
            }
            .navbar-toggler[aria-expanded="true"]{
                .navbar-toggler-icon{
                    background-image: url(../img/x.png);
                }
            }
            .nav-flex-one{
                img{
                    width: 90px;
                }
            }
            .nav-flex-two{
                order: 1;
            }
            .nav-flex-two, .nav-flex-three{
                .nav-link{
                    margin-bottom: 10px;
                    font-size: 25px;
                    color: black;
                }
                .nav-contact{
                    p{
                        margin-bottom: 9px;
                        font-size: 18px;
                        color: #6A6A6A;
                    }
                }
            }
            .nav-flex-three{
                margin-top: 25px;
            }
            .navbar-flex{
                .item-one{
                    order: 3;
                }
                .navbar-position{
                    display: flex;
                    margin-bottom: 32px;
                    order: 2;
                    .nav-item{
                        margin-right: 20px;
                    }
                }
                .glass{
                    order: 1;
                    .nav-input{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 172px;
                        input{
                            border: none;
                        }
                        button{
                            img{
                                width: 32px;
                            }
                        }
                    }
                }
            }
        }
        .nav-border{
            position: absolute;
            top: 83px;
            width: 100%;
            border-bottom: 1px solid $nav-border-color;
        }
    }
    footer{
        padding-top: 64px;
        padding-bottom: 200px;
        .container-xxl{
            .footer-position{
                .footer-position-text{
                    width: 100%;
                    .footer-logo{  
                        .logo{
                            display: block;
                            margin:  0 auto;
                        }
                        p{
                            margin:32px 0px;
                            color: #999999;
                        }
                        .foooter-position-image{
                            display: flex;
                            justify-content: center; 
                            border-bottom: 1px solid white;
                            img{
                                margin-right: 19px;
                                margin-bottom: 32px;
                            }
                        }
                    }
                    .footer-nav-position{
                        display: flex;
                        justify-content: space-between;
                        margin-top: 32px;
                        margin-bottom: 32px;
                        .footer-nav-one, .footer-nav-two{
                            display: flex;
                            flex-direction: column;
                            .footer-nav{
                                margin-bottom: 8px;
                                .footer-link{
                                    a{
                                        font-size: 14px;
                                        text-decoration: none;
                                        color: white;
                                    }
                                    .pol{
                                        color: #999999;
                                    }
                                    .contact{
                                        font-size: 19px;
                                    }
                                }
                            }
                        }
                    }
                }
                .footer-image{
                    .footer-image-insta{
                        display: flex;
                        padding-top: 32px;
                        padding-bottom: 18px;
                        border-top: 1px solid white;
                        p{
                            margin-right: 14px;   
                            color: white;
                        }
                        a{
                            color: #E3D4C5;
                            text-decoration: none;
                        }
                    }
                    .footer-slider{
                        display: flex;
                        .footer-slider-position{
                            margin: 0 auto;
                            display: flex;
                            img{
                                display: block;
                                margin-right: 18px;
                                width: 100px;
                                height: 100px;
                                object-fit: cover;
                            }
                            .hiden-mobile{
                                display: none;
                            }
                            .hiden-m-t{
                                display: none;
                            }
                        }
                    }
                }
            }
            .footer-border{
                display: flex;
                align-items: center;
                margin-top: 32px;
                .footer-b-one, .footer-b-two{
                    width: 100%;
                    height: 1px;
                    border: 1px solid white;
                }
                .footer-b-one{
                    margin-right: 10px;
                }
                .footer-b-two{
                    margin-left: 10px;
                }
            }
        }
    }
    .cookie-popup{
        .container-xxl{
            .cookie-position{
                padding: 32px 0px;
                font-size: 16px;
                color: #999999;
                p{
                    width: 80%;
                }
                .cookie-text{
                    text-decoration: underline;
                    font-weight: 1000;
                }
            }
        }
    }
}

@media (min-width: 576px) { 
    
 }


@media (min-width: 768px) { 
    .container-xxl{
        padding: 0px 40px;
    }
    .notification{
        .notification-position{
            .close-btn{
                img{
                    width: 22px;
                }
            }
        }
    }
    .navbar{
        top:50px;
        padding-top: 27px;
        padding-bottom: 32px;
        .nav-flex{
            .nav-flex-one{
                padding: 0;
                img{
                    width: 117px;
                }
            }
            .navbar-toggler{
                padding: 0;
                .navbar-toggler-icon{
                    height: 48px;
                    width: 48px;
                }
            }
            .nav-flex-two, .nav-flex-three{
                .nav-link{
                    font-size: 34px;
                }
                .nav-contact{
                    p{
                        margin-bottom: 0;
                        font-size: 25px;
                    }
                }
            }
            .nav-flex-three{
                margin-top: 74px;
            }
            .navbar-flex{
                .item-one{
                    margin-bottom: 59px;
                }
                .glass{
                    .nav-input{
                        position: absolute;
                        right: 34px;
                        margin-bottom: 0px;
                        button{
                            img{
                                width: 48px;
                            }
                        }
                    }
                }
            }
        }
        .nav-border{
            top: 120px;
        }
    }
    footer{
        padding-top: 72px;
        padding-bottom: 150px;
        .container-xxl{
            .footer-position{
                width: 100%;
                .footer-position-text{
                    display: flex;
                    justify-content: space-between;
                    .footer-logo{  
                        width: 37%;
                        .logo{
                            display: inline;
                        }
                        p{
                            margin:32px 0px;
                            color: #999999;
                        }
                        .foooter-position-image{
                            border: 0;
                            justify-content: left;
                            img{
                                margin-right: 19px;
                                margin-bottom: 32px;
                            }
                        }
                    }
                    .footer-nav-position{
                        margin-top: 0px;
                        margin-bottom: 0px;
                        width: 50%;
                        .footer-nav-one, .footer-nav-two{
                            .footer-nav{
                                margin-bottom: 16px;
                                .footer-link{
                                    a{
                                        font-size: 16px;
                                        text-decoration: none;
                                        color: white;
                                    }
                                    .pol{
                                        color: #999999;
                                    }
                                    .contact{
                                        font-size: 25px;
                                    }
                                }
                            }
                            .footer-contact{
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
                .footer-image{
                    .footer-image-insta{
                        align-items: center;
                        border: 0;
                        p{
                            margin-bottom: 0px;
                        }
                        a{
                            font-size: 28px;
                        }
                    }
                    .footer-slider{
                        .footer-slider-position{
                            overflow: hidden;
                            img{
                                margin-right: 20.4px;
                                width: 140px;
                                height: 140px;
                            }
                            .hiden-mobile{
                                display: block;
                            }
                        }
                    }
                }
                .footer-border{
                    margin-top: 40px;
                    margin-bottom: 32px;
                    .footer-b-one{
                        margin-right: 30px;
                    }
                    .footer-b-two{
                        margin-left: 30px;
                    }
                }
            }
        }
    }
    .cookie-popup{
        .container-xxl{
            .cookie-position{
                p{
                    width: 90%;
                }
            }
        }
    }
 }

@media (min-width: 992px) { 
}

@media (min-width: 1200px) {  
    .container-xxl{
        padding-left: 34px;
        padding-right: 33px;
    }
    .navbar{
        padding-top: 27px;
        padding-bottom: 29px;
        height: 140px;
        border-bottom: 1px solid $nav-border-color;
        .nav-flex{
            .nav-flex-one{
                order: 2;
                img{
                    width: 160px;
                }
            }
            .nav-flex-three{
                margin-top: 0;
                order: 3;
            }
            .navbar-collapse{
                flex-grow: 0;
                .navbar-nav{
                    .nav-contact{
                        display: none;
                    }
                }
            }
            .nav-flex-two, .nav-flex-three{
                .nav-link{
                    padding: 0px;
                    margin-bottom: 0px;
                    margin-right: 32px;
                    font-size: 19px;
                }
            }
            .navbar-flex{
                display: flex;
                justify-content: center;
                align-items: center;
                .item-one{
                    margin-bottom: 0px;
                    order: 1;
                }
                .navbar-position{
                    margin-right: 12px;
                    margin-bottom: 0px;
                    .nav-item{
                        margin-right: 20px;
                        .nav-link{
                            margin-right: 0px;
                        }
                    }
                }
                .glass{
                    order: 3;
                    .nav-input{
                        position: relative;
                        right: 0px;
                        button{
                            img{
                                width: 32px;
                            }
                        }
                        input{
                            display: none;
                        }
                    }
                    .nav-input.show-input{
                        input{
                            display: inline-block;
                        }
                    }
                }
            }
        }
        .nav-border{
            display: none;
        }
    }
    footer{
        padding-bottom: 160px;
        .container-xxl{
            .footer-position{
                position: relative;
                width: 100%;
                display: flex;
                justify-content: space-between;
                .footer-position-text{
                    justify-content: flex-start;
                    .footer-logo{
                        width: 34%;
                        p{
                            margin: 30px 0px 50px 0px;
                            font-size: 19px;
                            color: #999999;
                        }
                        .foooter-position-image{
                            border: 0;
                            img{
                                margin-right: 19px;
                                margin-bottom: 43px;
                            }
                        }
                    }
                    .footer-nav-position{
                        justify-content:space-around;
                        margin-left: 70px;
                        .footer-nav-one{
                            margin-right: 0px;
                        }
                        .footer-nav-one, .footer-nav-two{
                            .footer-nav{
                                margin-bottom: 20px;
                            }
                            .contact{
                                font-size: 30px;
                            }
                        }
                    }
                }
                .footer-image{
                    .footer-image-insta{
                        flex-direction: column;
                        align-items: start;
                        padding-bottom: 20px;
                        p{
                            font-size: 19px;
                        }
                        a{
                            font-size: 30px;
                        }
                    }
                    .footer-slider{
                        width: 520px;
                        .footer-slider-position{
                            margin-bottom: 84px;
                            flex-wrap: wrap;
                            img{
                                margin-right: 0px;
                                margin-left: 20px;
                                margin-top: 20px;
                                width: 115px;
                                height: 115px;
                            }
                            .hiden-m-t{
                                display: inline;
                            }
                            .mar-0{
                                margin-left: 0px;
                            }
                        }
                    }
                }
            }
            .footer-border{
                position: absolute;
                bottom: -30px;
                width: 100%;
            }
        }
    }
}


@media (min-width: 1400px) { 
    .container-xxl{
        max-width: 1920px;
        // padding-left: 133px;
        // padding-right: 134px;
        padding-left: 151px;
        padding-right: 161px;
    }
    .cookie-popup{
        .container-xxl{
            .cookie-position{
                padding: 26px 0px;
                font-size: 19px;
                p{
                    width: 100%;
                }
            }
        }
    }
}