* {
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #171717;
}

.container-xxl {
  padding: 0px 20px;
}

.notification {
  background-color: #E3D4C5;
  color: #000000;
}
.notification .notification-postion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}
.notification .notification-postion .close-btn img {
  width: 32px;
}

.navbar {
  padding: 0;
  display: block;
}

@media (min-width: 380px) {
  .container-xxl {
    padding: 0px 20px 0px 20px;
  }
  .notification {
    padding-top: 13px;
    padding-bottom: 15px;
  }
  .navbar {
    top: 62px;
    padding-top: 15px;
    padding-bottom: 12px;
    background-color: white;
  }
  .navbar .nav-flex .navbar-toggler {
    padding: 4px 6px;
    border: none;
  }
  .navbar .nav-flex .navbar-toggler .navbar-toggler-icon {
    height: 32px;
    width: 32px;
    background-image: url(../img/hamburger.png);
  }
  .navbar .nav-flex .navbar-toggler[aria-expanded=true] .navbar-toggler-icon {
    background-image: url(../img/x.png);
  }
  .navbar .nav-flex .nav-flex-one img {
    width: 90px;
  }
  .navbar .nav-flex .nav-flex-two {
    order: 1;
  }
  .navbar .nav-flex .nav-flex-two .nav-link, .navbar .nav-flex .nav-flex-three .nav-link {
    margin-bottom: 10px;
    font-size: 25px;
    color: black;
  }
  .navbar .nav-flex .nav-flex-two .nav-contact p, .navbar .nav-flex .nav-flex-three .nav-contact p {
    margin-bottom: 9px;
    font-size: 18px;
    color: #6A6A6A;
  }
  .navbar .nav-flex .nav-flex-three {
    margin-top: 25px;
  }
  .navbar .nav-flex .navbar-flex .item-one {
    order: 3;
  }
  .navbar .nav-flex .navbar-flex .navbar-postion {
    display: flex;
    margin-bottom: 32px;
    order: 2;
  }
  .navbar .nav-flex .navbar-flex .navbar-postion .nav-item {
    margin-right: 20px;
  }
  .navbar .nav-flex .navbar-flex .glass {
    order: 1;
  }
  .navbar .nav-flex .navbar-flex .glass .nav-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 172px;
  }
  .navbar .nav-flex .navbar-flex .glass .nav-input input {
    border: none;
  }
  .navbar .nav-flex .navbar-flex .glass .nav-input button img {
    width: 32px;
  }
  .navbar .nav-border {
    position: absolute;
    top: 83px;
    width: 100%;
    border-bottom: 1px solid #DADADA;
  }
  footer {
    padding-top: 64px;
    padding-bottom: 40px;
  }
  footer .container-xxl .footer-postion .footer-postion-text {
    width: 100%;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-logo .logo {
    display: block;
    margin: 0 auto;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-logo p {
    margin: 32px 0px;
    color: #999999;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-logo .foooter-postion-image {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-logo .foooter-postion-image img {
    margin-right: 19px;
    margin-bottom: 32px;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion .footer-nav-one, footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion .footer-nav-two {
    display: flex;
    flex-direction: column;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion .footer-nav-one .footer-nav, footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion .footer-nav-two .footer-nav {
    margin-bottom: 8px;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion .footer-nav-one .footer-nav .footer-link a, footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion .footer-nav-two .footer-nav .footer-link a {
    font-size: 14px;
    text-decoration: none;
    color: white;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion .footer-nav-one .footer-nav .footer-link .pol, footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion .footer-nav-two .footer-nav .footer-link .pol {
    color: #999999;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion .footer-nav-one .footer-nav .footer-link .contact, footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion .footer-nav-two .footer-nav .footer-link .contact {
    font-size: 19px;
  }
  footer .container-xxl .footer-postion .footer-image .footer-image-insta {
    display: flex;
    padding-top: 32px;
    padding-bottom: 18px;
    border-top: 1px solid white;
  }
  footer .container-xxl .footer-postion .footer-image .footer-image-insta p {
    margin-right: 14px;
    color: white;
  }
  footer .container-xxl .footer-postion .footer-image .footer-image-insta a {
    color: #E3D4C5;
    text-decoration: none;
  }
  footer .container-xxl .footer-postion .footer-image .footer-slider {
    display: flex;
  }
  footer .container-xxl .footer-postion .footer-image .footer-slider .footer-slider-postion {
    display: flex;
    margin: 0 auto;
  }
  footer .container-xxl .footer-postion .footer-image .footer-slider .footer-slider-postion img {
    display: block;
    margin-right: 24px;
    width: 100px;
    height: 100px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  footer .container-xxl .footer-postion .footer-image .footer-slider .footer-slider-postion .hiden-mobile {
    display: none;
  }
  footer .container-xxl .footer-postion .footer-image .footer-slider .footer-slider-postion .hiden-m-t {
    display: none;
  }
  footer .container-xxl .footer-border {
    display: flex;
    align-items: center;
    margin-top: 32px;
  }
  footer .container-xxl .footer-border .footer-b-one, footer .container-xxl .footer-border .footer-b-two {
    width: 100%;
    height: 1px;
    border: 1px solid white;
  }
  footer .container-xxl .footer-border .footer-b-one {
    margin-right: 10px;
  }
  footer .container-xxl .footer-border .footer-b-two {
    margin-left: 10px;
  }
}
@media (min-width: 768px) {
  .notification .notification-postion .close-btn img {
    width: 22px;
  }
  .navbar {
    top: 52px;
    padding-top: 27px;
    padding-bottom: 32px;
  }
  .navbar .nav-flex .nav-flex-one {
    padding: 0;
  }
  .navbar .nav-flex .nav-flex-one img {
    width: 117px;
  }
  .navbar .nav-flex .navbar-toggler {
    padding: 0;
  }
  .navbar .nav-flex .navbar-toggler .navbar-toggler-icon {
    height: 48px;
    width: 48px;
  }
  .navbar .nav-flex .nav-flex-two .nav-link, .navbar .nav-flex .nav-flex-three .nav-link {
    font-size: 34px;
  }
  .navbar .nav-flex .nav-flex-two .nav-contact p, .navbar .nav-flex .nav-flex-three .nav-contact p {
    margin-bottom: 0;
    font-size: 25px;
  }
  .navbar .nav-flex .nav-flex-three {
    margin-top: 74px;
  }
  .navbar .nav-flex .navbar-flex .item-one {
    margin-bottom: 59px;
  }
  .navbar .nav-flex .navbar-flex .glass .nav-input {
    position: absolute;
    right: 34px;
    margin-bottom: 0px;
  }
  .navbar .nav-flex .navbar-flex .glass .nav-input button img {
    width: 48px;
  }
  .navbar .nav-border {
    top: 120px;
  }
  footer {
    padding-top: 72px;
  }
  footer .container-xxl .footer-postion {
    width: 100%;
  }
  footer .container-xxl .footer-postion .footer-postion-text {
    display: flex;
    justify-content: space-between;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-logo {
    width: 37%;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-logo .logo {
    display: inline;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-logo p {
    margin: 32px 0px;
    color: #999999;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-logo .foooter-postion-image {
    border: 0;
    justify-content: left;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-logo .foooter-postion-image img {
    margin-right: 19px;
    margin-bottom: 32px;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 50%;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion .footer-nav-one .footer-nav, footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion .footer-nav-two .footer-nav {
    margin-bottom: 16px;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion .footer-nav-one .footer-nav .footer-link a, footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion .footer-nav-two .footer-nav .footer-link a {
    font-size: 16px;
    text-decoration: none;
    color: white;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion .footer-nav-one .footer-nav .footer-link .pol, footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion .footer-nav-two .footer-nav .footer-link .pol {
    color: #999999;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion .footer-nav-one .footer-nav .footer-link .contact, footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion .footer-nav-two .footer-nav .footer-link .contact {
    font-size: 25px;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion .footer-nav-one .footer-contact, footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion .footer-nav-two .footer-contact {
    margin-bottom: 0px;
  }
  footer .container-xxl .footer-postion .footer-image .footer-image-insta {
    align-items: center;
    border: 0;
  }
  footer .container-xxl .footer-postion .footer-image .footer-image-insta p {
    margin-bottom: 0px;
  }
  footer .container-xxl .footer-postion .footer-image .footer-image-insta a {
    font-size: 28px;
  }
  footer .container-xxl .footer-postion .footer-image .footer-slider .footer-slider-postion {
    overflow: hidden;
  }
  footer .container-xxl .footer-postion .footer-image .footer-slider .footer-slider-postion img {
    margin-right: 20.4px;
    width: 140px;
    height: 140px;
  }
  footer .container-xxl .footer-postion .footer-image .footer-slider .footer-slider-postion .hiden-mobile {
    display: block;
  }
  footer .container-xxl .footer-postion .footer-border {
    margin-top: 40px;
  }
  footer .container-xxl .footer-postion .footer-border .footer-b-one {
    margin-right: 30px;
  }
  footer .container-xxl .footer-postion .footer-border .footer-b-two {
    margin-left: 30px;
  }
}
@media (min-width: 1200px) {
  .container-xxl {
    padding-left: 34px;
    padding-right: 33px;
  }
  .navbar {
    padding-top: 27px;
    padding-bottom: 29px;
    height: 140px;
    border-bottom: 1px solid #DADADA;
  }
  .navbar .nav-flex .nav-flex-one {
    order: 2;
  }
  .navbar .nav-flex .nav-flex-one img {
    width: 160px;
  }
  .navbar .nav-flex .nav-flex-three {
    margin-top: 0;
    order: 3;
  }
  .navbar .nav-flex .navbar-collapse {
    flex-grow: 0;
  }
  .navbar .nav-flex .navbar-collapse .navbar-nav .nav-contact {
    display: none;
  }
  .navbar .nav-flex .nav-flex-two .nav-link, .navbar .nav-flex .nav-flex-three .nav-link {
    padding: 0px;
    margin-bottom: 0px;
    margin-right: 32px;
    font-size: 19px;
  }
  .navbar .nav-flex .navbar-flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar .nav-flex .navbar-flex .item-one {
    margin-bottom: 0px;
    order: 1;
  }
  .navbar .nav-flex .navbar-flex .navbar-postion {
    margin-right: 12px;
    margin-bottom: 0px;
  }
  .navbar .nav-flex .navbar-flex .navbar-postion .nav-item {
    margin-right: 20px;
  }
  .navbar .nav-flex .navbar-flex .navbar-postion .nav-item .nav-link {
    margin-right: 0px;
  }
  .navbar .nav-flex .navbar-flex .glass {
    order: 3;
  }
  .navbar .nav-flex .navbar-flex .glass .nav-input {
    position: relative;
    right: 0px;
  }
  .navbar .nav-flex .navbar-flex .glass .nav-input button img {
    width: 32px;
  }
  .navbar .nav-flex .navbar-flex .glass .nav-input input {
    display: none;
  }
  .navbar .nav-flex .navbar-flex .glass .nav-input.show-input input {
    display: inline-block;
  }
  .navbar .nav-border {
    display: none;
  }
  footer {
    padding-bottom: 125px;
  }
  footer .container-xxl .footer-postion {
    position: relative;
    width: 100%;
    display: flex;
  }
  footer .container-xxl .footer-postion .footer-postion-text {
    justify-content: space-between;
    width: 65%;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-logo {
    width: 45%;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-logo p {
    margin: 30px 0px 50px 0px;
    width: 85%;
    font-size: 19px;
    color: #999999;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-logo .foooter-postion-image {
    border: 0;
    justify-content: left;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-logo .foooter-postion-image img {
    margin-right: 19px;
    margin-bottom: 43px;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion {
    justify-content: unset;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion .footer-nav-one {
    margin-right: 30px;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion .footer-nav-one .footer-nav, footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion .footer-nav-two .footer-nav {
    margin-bottom: 20px;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion .footer-nav-one .contact, footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion .footer-nav-two .contact {
    font-size: 30px;
  }
  footer .container-xxl .footer-postion .footer-image {
    width: 34%;
  }
  footer .container-xxl .footer-postion .footer-image .footer-image-insta {
    flex-direction: column;
    align-items: start;
    padding-bottom: 20px;
  }
  footer .container-xxl .footer-postion .footer-image .footer-image-insta p {
    font-size: 19px;
  }
  footer .container-xxl .footer-postion .footer-image .footer-image-insta a {
    font-size: 30px;
  }
  footer .container-xxl .footer-postion .footer-image .footer-slider .footer-slider-postion {
    margin-bottom: 84px;
    margin-left: -10px;
    flex-wrap: wrap;
  }
  footer .container-xxl .footer-postion .footer-image .footer-slider .footer-slider-postion img {
    margin-right: 0px;
    margin-left: 15px;
    margin-top: 20px;
    width: 100px;
    height: 100px;
  }
  footer .container-xxl .footer-postion .footer-image .footer-slider .footer-slider-postion .hiden-m-t {
    display: inline;
  }
  footer .container-xxl .footer-border {
    position: absolute;
    bottom: -30px;
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .container-xxl {
    max-width: 1920px;
    padding-left: 133px;
    padding-right: 134px;
  }
  footer .container-xxl .footer-postion {
    justify-content: space-between;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-logo {
    width: 40%;
  }
  footer .container-xxl .footer-postion .footer-postion-text .footer-nav-postion .footer-nav-one {
    margin-right: 80px;
  }
  footer .container-xxl .footer-postion .footer-image .footer-image-insta {
    margin-left: 20px;
  }
  footer .container-xxl .footer-postion .footer-image .footer-slider .footer-slider-postion img {
    margin-top: 20px;
    margin-left: 20px;
    width: 115px;
    height: 112px;
  }
}/*# sourceMappingURL=nav-footer.css.map */