@use './colors' as *;
@use './mixins' as *;

html{
    font-size: 62.5%;
    @include marquee;
    @include messenger;
}

h1,h2, .weight, li::marker{
    font-weight: 1000;
}


.banner{
    overflow: hidden;
}

.weight{
    font-weight: 800;
}

@media (min-width: 320px) { 
    .error{
        text-align: center;
        color: red;
        h1{
            font-size: 50px;
        }
    }
    header,main{
        display: none;
    }
    main{
        .certificate{
            background-color: $certificate-background;
            &-position{
                &-text{
                    display: flex;
                    justify-content: center;
                    padding-top: 64px;
                    padding-bottom: 64px;
                    &__heading{
                        text-align: center;
                    }
                }
                &-photo{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    &-one{
                        margin-bottom: 20px;
                        .cert-one{
                            margin-right: 50px;
                            width: 48px;
                        }
                        .cert-two{
                            margin-right: 50px;
                            width: 97px;
                        }
                        .cert-three{
                            width: 100px;
                        }
                    }
                    &-two{
                        margin-bottom: 20px;
                        .cert-four{
                            margin-right: 50px;
                            width: 74px;
                        }
                        .cert-five{
                            margin-right: 50px;
                            width: 75px;   
                        }
                        .cert-six{
                            width: 98px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) { 

}

@media (min-width: 768px) { 
    main{
        .certificate{
            &-position{
                &-text{
                    padding-top: 56px;
                    justify-content: start;
                }
                &-photo{
                    flex-wrap: nowrap;
                    &-one{
                        display: flex;
                        flex-wrap: wrap;
                        margin-right: 50px;
                        .cert-one{
                            height: 77px;
                            width: 64px;
                            margin-right: 49px;
                            margin-bottom: 20px;
                        }
                        .cert-two{
                            height: 63px;
                            width: 130px;
                            margin-right: 49px;
                            margin-bottom: 20px;
                        }
                        .cert-three{
                            height: 75px;
                            width: 135px;
                            margin-bottom: 20px;
                        }
                    }
                    &-two{
                        display: flex;
                        flex-wrap: wrap;
                        .cert-four{
                            height: 102px;
                            width: 107px;
                            margin-right: 49px;
                            margin-bottom: 20px;
                        }
                        .cert-five{
                            height: 95px;
                            width: 110px;   
                            margin-right: 49px;
                            margin-bottom: 20px;
                        }
                        .cert-six{
                            height: 43px;
                            width: 145px;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) { 

}

@media (min-width: 1200px) { 
    .error{
        display: none;
    }
    h2{
        font-size: 5.2rem;
    }
    h3{
        font-size: 3.0rem;
    }
    header,main{
        display: block;
    }
    header{
        p{
            font-size: 1.9rem;
        }
        .header-position{
            margin: 0 auto;
            display: flex;
            max-width: 1920px;
            &-left, &-right{
                margin-bottom: 12px;
                width: 50%;
            }
            &-left{
                margin-right: 12px;
                &__photo{
                    width: 100%;
                }
            }
            &-right{
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color:  $header-background;
                &__heading, &__text{
                    margin-left: 70px;
                }
                &__text{
                    margin-top: 39px;
                    width: 80%;
                }
            }
        }
    }
    main{
        p{
            font-size: 1.9rem;
        }
        .info{
            margin-top: 104px;
            overflow: hidden;
            &-position{
                padding-bottom: 126px;
                border-bottom: 2px solid $info-border-background;
                display: flex;
                &-left, &-right{
                    width: 50%;
                }
                &-left{
                    &__heading{
                        margin-top: 51px;
                        margin-bottom: 35px;
                    }
                    &__text{
                        margin-top: 21px;
                        width: 85%;
                        &-weight{
                            width: 85%;
                            font-size: 2.5rem;
                            font-weight: 800;
                        }
                    }
                }
                &-right{
                    position: relative;
                    &__photo{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &__image{
                        position: absolute;
                        right: -50px;
                        bottom: -100px;
                        height: 201px;
                        width: 391px;
                        object-fit: cover;
                    }
                }
            }
        }
        .certificate{
            &-position{
                display: flex;
                justify-content: space-between;
                &-text{
                    padding-top: 73px;
                    width: 400px;
                    margin-right: 160px;
                    &__heading{
                        text-align: left;
                    }
                }
                &-photo{
                    margin-top: 73px;
                    justify-content: end;
                    &-one{
                        padding-bottom: 52px;
                        margin-bottom: 0px;
                        .cert-one{
                            height: 87px;
                            width: 73px;
                            margin-right: 49px;
                            margin-bottom: 20px;
                        }
                        .cert-two{
                            height: 70px;
                            width: 146px;
                            margin-right: 49px;
                            margin-bottom: 20px;
                        }
                        .cert-three{
                            height: 84px;
                            width: 152px;
                            margin-bottom: 20px;
                        }
                    }
                    &-two{
                        padding-bottom: 52px;
                        margin-bottom: 0px;
                        .cert-four{
                            height: 115px;
                            width: 121px;
                            margin-right: 49px;
                            margin-bottom: 20px;
                        }
                        .cert-five{
                            height: 106px;
                            width: 123px;   
                            margin-right: 49px;
                            margin-bottom: 20px;
                        }
                        .cert-six{
                            height: 49px;
                            width: 163px;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
        .info-two{
            margin-top: 104px;
            &-position{
                padding-bottom: 126px;
                display: flex;
                &-left{
                    order: 2;
                    &__heading{
                        margin-top: 51px;
                        margin-bottom: 35px;
                    }
                    &__text{
                        margin-top: 21px;
                        &-weight{
                            font-size: 2.5rem;
                            font-weight: 800;
                        }
                    }
                }
                &-right{
                    position: relative;
                    margin-right: 155px;
                    order: 1;
                    &__photo{
                        width: 520px;
                        height: 538px;
                        object-fit: cover;
                    }
                }
            }
        }
        .concept{
            background-color: $header-background;
            &-position{
                padding-top: 98px;
                padding-bottom: 82px;
                margin-bottom: 12px;
                display: flex;
                &-left, &-right{
                    width: 50%;
                }
                &-left{
                    &__heading{
                        width: 80%;
                    }
                }
                &-right{
                    ol{
                        font-size: 19px;
                    }
                    &-text{
                        margin-top: 77px;
                        &__text:last-child{
                            margin-top: 40px;
                            font-size: 2.5rem;
                        }
                    }
                }
            }
        }
        .product{
            margin: 0 auto;
            max-width: 1920px;
            &-photo{
                width: 100%;
                object-fit: cover;
            }
        }
    }
}