html {
  font-size: 62.5%;
}
@keyframes text {
  0% {
    left: 0%;
  }
  100% {
    left: 30%;
  }
}
@media (min-width: 320px) {
  html .marquee {
    display: flex;
    justify-content: right;
    height: 58px;
    font-size: 20px;
    white-space: nowrap;
    background-color: #000;
    text-align: center;
  }
  html .marquee a {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    animation: text 5s infinite linear;
    position: relative;
  }
  html .marquee a span .weight {
    font-weight: 1000;
  }
  html .marquee a .dot {
    margin: 0px 15px;
    font-size: 4rem;
  }
}
@media (min-width: 768px) {
  html .marquee {
    height: 72px;
  }
}
@media (min-width: 1200px) {
  html .marquee {
    height: 90px;
  }
}
@media (min-width: 320px) {
  html .messenger {
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 65%;
    pointer-events: none;
  }
  html .messenger-position {
    display: flex;
    justify-content: end;
  }
  html .messenger-position-button {
    pointer-events: auto;
  }
  html .messenger-position-button__photo {
    height: 69px;
  }
}
@media (min-width: 768px) {
  html .messenger {
    top: 80%;
  }
  html .messenger-position-button__photo {
    height: 97px;
  }
}
@media (min-width: 1400px) {
  html .messenger {
    top: 65%;
    right: -100px;
  }
}
html .paganation-nav .pagination {
  margin: 0;
}
html .paganation-nav .pagination .page-item {
  margin-right: 12px;
  width: 53px;
  height: 51px;
}
html .paganation-nav .pagination .page-item .page-link, html .paganation-nav .pagination .page-item .page-input {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  color: black;
  font-weight: 800;
  background-color: #F4F1EC;
  border: 1px solid #DADADA;
}
html .paganation-nav .pagination .page-item .page-link-black {
  background-color: #202020;
  color: white;
}
html .paganation-nav .pagination .page-item .page-link:hover {
  z-index: 0;
}
html .paganation-nav .pagination .page-item .page-input::-moz-placeholder {
  color: white;
  font-size: 1.8rem;
}
html .paganation-nav .pagination .page-item .page-input::placeholder {
  color: white;
  font-size: 1.8rem;
}
html .paganation-nav .pagination .page-item .page-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}
html .paganation-nav .pagination .page-item-next {
  width: 225px;
}
html .paganation-nav .pagination .page-item-next img {
  margin-left: 12px;
}
html .buyButton {
  width: 100%;
}
html .buyButton a {
  display: block;
  padding: 12px 0px;
  margin-top: 28px;
  background-color: #F4F1EC;
  color: #000;
}
html .buyButton a img {
  margin-left: 10px;
  filter: brightness(0);
}
html .buyButton:hover a {
  padding: 12px 0px;
  margin-top: 28px;
  width: 100%;
  background-color: #000;
  color: #fff;
}
html .buyButton:hover a img {
  margin-left: 10px;
  filter: brightness(100);
}
html .shop-category__heading {
  margin-top: 32px;
  margin-bottom: 30px;
}
html .shop-category-button {
  display: flex;
  flex-direction: column;
}
html .shop-category-button button {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 1.9rem;
  text-transform: none;
  font-weight: 600;
}
html .shop-category-button button:hover {
  color: #000;
  font-weight: 800;
}
html .shop-category-slidebar {
  position: relative;
  margin-bottom: 30px;
  height: 6px;
}
html .shop-category-slidebar input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  opacity: 0;
}
html .shop-category-slidebar input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
}
html .shop-category-slidebar-track {
  position: relative;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 10px;
  border-radius: 5px;
  background-color: #E3D4C5;
}
html .shop-category-slidebar-track .range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #000;
}
html .shop-category-slidebar-track .thumb {
  position: absolute;
  z-index: 3;
  width: 20px;
  height: 20px;
  background-color: #E3D4C5;
  border: 3px solid #000;
  border-radius: 50%;
}
html .shop-category-slidebar-track .thumb.left {
  left: 35%;
  transform: translate(0px, -5px);
}
html .shop-category-slidebar-track .thumb.right {
  right: 25%;
  transform: translate(0px, -5px);
}
html .shop-category-price {
  margin-top: 30px;
}
html .shop-category-price .price-range {
  display: flex;
  margin-bottom: 14px;
}
html .shop-category-price .buyButton {
  padding: 12px 0px;
  background-color: #E3D4C5;
  color: #000;
}
html .shop-category-price .buyButton img {
  margin-left: 10px;
  filter: brightness(0);
}
html .shop-category-price .buyButton:hover {
  background-color: #000;
  color: #fff;
}
html .shop-category-price .buyButton:hover img {
  margin-left: 10px;
  filter: brightness(100);
}
html .shop-category-selector__heading {
  margin-top: 32px;
  margin-bottom: 12px;
}
html .shop-category-selector__select {
  padding: 12px;
  width: 100%;
  font-size: 1.4rem;
  border: none;
  background-color: #F4F1EC;
}
html .shop-category-rating__rating {
  margin-top: 32px;
  margin-bottom: 23px;
}
html .shop-category-rating label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 1.4rem;
  font-weight: 800;
}
html .shop-category-rating label input {
  margin-right: 14px;
}
html .shop-category-rating label .rate {
  display: flex;
  flex-wrap: nowrap;
}
html .shop-category-rating label .star img {
  margin-right: 10px;
}
html .shop-category-rating label .star img:last-child {
  margin-right: 0px;
}
html .no-favourite {
  content: url(../img/heart.png);
}
html .favourite {
  content: url(../img/fav.png);
}
html .no-favourite, html .favourite {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 44px;
  width: 44px;
}
@media (min-width: 320px) {
  html .slider {
    position: relative;
    width: 258px;
    margin-right: 20px;
  }
  html .slider-position {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 250px;
  }
  html .slider-position-photo {
    height: 100%;
  }
  html .slider-text {
    margin-top: 28px;
  }
  html .slider-text-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 12px;
  }
  html .slider-text-header-star img {
    margin-left: 5px;
    width: 16px;
    height: 16px;
  }
  html .slider-text-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
  }
  html .slider-text-price .price {
    font-size: 20px;
  }
}
html .slider:last-child {
  margin-right: 0;
}
@media (min-width: 768px) {
  html .slider {
    width: 300px;
  }
  html .slider-position {
    width: 300px;
  }
  html .slider-position-photo {
    width: 100%;
  }
  html .slider-text-header {
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  html .slider {
    width: 100%;
    max-width: 385px;
  }
  html .slider-position {
    width: 100%;
    height: 385px;
  }
  html .slider-text {
    margin-top: 40px;
  }
  html .slider-text-header {
    flex-direction: row;
  }
}
html .specialOffer_photo {
  position: absolute;
  top: -50px;
  left: -50px;
  overflow: visible;
  z-index: 2;
}
html .specialOffer_photo-big {
  position: absolute;
  right: -30%;
  bottom: -38%;
  pointer-events: none;
}
html .specialOffer-price {
  margin-right: 12px;
  font-size: 2.5rem;
  font-weight: 1000;
  color: red;
}
html .specialOffer .price {
  text-decoration: line-through;
}
html .button {
  height: 48px;
  background-color: #000;
  width: 100%;
  max-width: 350px;
  margin-bottom: 40px;
}
html .button a {
  display: block;
  align-items: center;
  color: #fff;
}
html .button a img {
  margin-left: 10px;
}

h1, h2, h3, .weight, li::marker, .price {
  font-weight: 1000;
}

.weight {
  font-weight: 800;
  color: #000;
}

.p-color, a, li {
  color: #999999;
}

.read {
  margin-top: 20px;
}
.read img {
  margin-left: 12px;
}

@media (min-width: 320px) {
  .error {
    text-align: center;
    color: red;
  }
  .error h1 {
    font-size: 50px;
  }
  header, main {
    display: none;
  }
}
@media (min-width: 1200px) {
  .error {
    display: none;
  }
  h2 {
    font-size: 5.2rem;
  }
  h3 {
    font-size: 3rem;
  }
  p {
    font-size: 1.9rem;
  }
  header, main {
    display: block;
  }
  main .shop-position {
    display: flex;
  }
  main .shop-position-left {
    padding-top: 40px;
    padding-right: 79px;
    width: 21%;
    border-right: 1px solid #DADADA;
  }
  main .shop-position-right {
    padding-top: 72px;
    margin-left: 76px;
    width: 79%;
  }
  main .shop-position-right-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 39px;
  }
  main .shop-position-right-header-list {
    display: flex;
    padding: 0;
    list-style: none;
    font-size: 1.4rem;
  }
  main .shop-position-right-header-list-after::after {
    margin-left: 8px;
    margin-right: 8px;
    content: ">";
  }
  main .shop-position-right-header-button button:first-child {
    margin-right: 12px;
  }
  main .shop-position-right-product {
    display: flex;
    margin-bottom: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid #DADADA;
  }
  main .shop-position-right-product-position {
    display: flex;
  }
  main .shop-position-right-product-position-product {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  main .shop-position-right-product-position-product__photo {
    width: 161px;
    height: 155px;
    margin-bottom: 20px;
  }
  main .shop-position-right-product-position-big {
    position: relative;
    width: 100%;
    max-width: 473px;
    height: 504px;
  }
  main .shop-position-right-product-position-big #mainImage {
    width: 100%;
    height: 100%;
  }
  main .shop-position-right-product-text {
    margin-left: 20px;
    width: 50%;
    max-width: 520px;
  }
  main .shop-position-right-product-text-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }
  main .shop-position-right-product-text-header-star img {
    margin-left: 10px;
  }
  main .shop-position-right-product-text p {
    margin-bottom: 20px;
  }
  main .shop-position-right-product-text-description {
    font-size: 1.4rem;
  }
  main .shop-position-right-product-text .price {
    font-size: 2.5rem;
  }
  main .shop-position-right-product-text-price {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  main .shop-position-right-product-text-price-ammount {
    display: flex;
    align-items: center;
  }
  main .shop-position-right-product-text-price-ammount-ammount {
    width: 53px;
    height: 51px;
    padding-left: 10px;
    margin-right: 17px;
    font-weight: 1000;
    font-size: 1.9rem;
  }
  main .shop-position-right-product-text-price-ammount p {
    margin-bottom: 0;
  }
  main .shop-position-right-product-text-price .buyButton {
    padding: 12px 23px;
    width: 100%;
    max-width: 339px;
    background-color: #E3D4C5;
    color: #000;
  }
  main .shop-position-right-product-text-price .buyButton img {
    margin-left: 10px;
    filter: brightness(0);
  }
  main .shop-position-right-product-text-price .buyButton:hover {
    background-color: #000;
    color: #fff;
  }
  main .shop-position-right-product-text-price .buyButton:hover img {
    margin-left: 10px;
    filter: brightness(100);
  }
  main .shop-position-right-product-text-availability {
    padding-top: 22px;
    padding-left: 36px;
    padding-bottom: 26px;
    margin-top: 27px;
    height: 146px;
    background-color: #F4F1EC;
  }
  main .shop-position-right-product-text-availability p {
    display: flex;
    font-size: 1.4rem;
    margin-bottom: 8px;
  }
  main .shop-position-right-product-text-availability-amount {
    margin-left: 12px;
    color: green;
    font-weight: 1000;
  }
  main .shop-position-right-product-text-availability-price {
    display: block;
    margin-left: 12px;
    width: 100%;
    max-width: 170px;
    font-weight: 1000;
  }
  main .shop-position-right-product-text-availability-price-delivery {
    font-weight: 400;
  }
  main .shop-position-right-product-text-availability-code {
    margin-left: 12px;
    font-weight: 1000;
  }
  main .shop-position-right-text {
    padding-bottom: 66px;
    margin-bottom: 100px;
    border-bottom: 1px solid #DADADA;
    min-height: 790px;
  }
  main .shop-position-right-text .accordion {
    display: flex;
  }
  main .shop-position-right-text .accordion .accordion-headers {
    display: flex;
    flex-direction: column;
    width: 330px;
  }
  main .shop-position-right-text .accordion .accordion-headers .accordion-item {
    border: none;
    --bs-accordion-btn-icon-width: 3.2rem;
  }
  main .shop-position-right-text .accordion .accordion-headers .accordion-item .accordion-header {
    margin-bottom: 20px;
  }
  main .shop-position-right-text .accordion .accordion-headers .accordion-item .accordion-header .accordion-button {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: none;
  }
  main .shop-position-right-text .accordion .accordion-headers .accordion-item .accordion-header .collapsed {
    color: #999999;
  }
  main .shop-position-right-text .accordion .accordion-content {
    margin-left: 75px;
    flex: 1;
    width: 100%;
  }
  main .shop-position-right-text .accordion .accordion-content .accordion-body .accordion-text {
    margin-bottom: 30px;
  }
  main .shop-position-right-text .accordion .accordion-content .accordion-body .accordion-info {
    font-size: 1.4rem;
  }
  main .shop-position-right-text .accordion .accordion-content ul {
    margin-top: -30px;
  }
  main .shop-position-right-text .accordion .accordion-content ul li {
    margin-left: 20px;
    font-size: 1.9rem;
  }
  main .shop-position-right-similar-position-header {
    display: flex;
    justify-content: space-between;
  }
  main .shop-position-right-similar-position-slider {
    display: flex;
    margin-bottom: 90px;
  }
}/*# sourceMappingURL=produkt.css.map */