@use './colors' as *;
@use './mixins' as *;

html{
    font-size: 62.5%;
    @include marquee;
    @include messenger;
    @include paganation;
    @include blogSearch;
    @include blogTime;
    @include buyButton;
    @include shopCategory;
}

h1,h2,h3, .weight, li::marker{
    font-weight: 1000;
}


.banner{
    overflow: hidden;
}

.weight{
    font-weight: 800;
}

.p-color{
    color: #999999;
}

.read{
    margin-top: 20px;
    img{
        margin-left: 12px;
    }
}

.carousel-indicators [data-bs-target] {
    width: 17px;
    height: 17px;
    opacity: 1;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 13px;
}

.carousel-indicators{
    .active{
        background-color: white;
    }
}


@media (min-width: 320px) { 
    .error{
        text-align: center;
        color: red;
        h1{
            font-size: 50px;
        }
    }
    header,main{
        display: none;
    }
}

@media (min-width: 576px) { 

}

@media (min-width: 768px) { 

}

@media (min-width: 992px) { 

}

@media (min-width: 1200px) { 
    .error{
        display: none;
    }
    h2{
        font-size: 5.2rem;
    }
    h3{
        font-size: 3.0rem;
    }
    p{
        font-size: 1.9rem;
    }
    header,main{
        display: block;
    }
    header{
        margin-bottom: 12px;
        padding-top: 49px;
        .header-position{
            margin: 0 auto;
            max-width: 1920px;
            display: flex;
            &-left{
                position: relative;
                overflow: hidden;
                width: 40%;
                padding-top: 81px;
                padding-left: 81px;
                padding-bottom: 132px;
                padding-right: 161px;
                margin-left: 12px;
                order: 2;
                z-index: 0;
                background-color: $header-background;
                &__heading{
                    margin-top: 47px;
                    margin-bottom: 24px;
                }
                &-star{
                    img{
                        margin-right: 10px;
                    }
                }
                &__text{
                    margin-top: 24px;
                    margin-bottom: 33px;
                    z-index: 3;
                }
                &__photo{
                    position: absolute;
                    bottom: 0%;
                    right: 0;
                    z-index: -1;
                    pointer-events: none;
                }
            }
            &-right{
                order: 1;
                width: 60%;
                .carousel{
                    height: 100%;
                    .carousel-indicators{
                        left: 63px;
                        bottom: 56px;
                        right: auto;
                        margin-left: 0%;
                    }
                    .carousel-inner{
                        height: 100%;
                        .carousel-item{
                            height: 100%;
                            img{
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
    main{
        .shop{
            border-top: 1px solid $blog-border-background;
            margin-top: 72px;
            &-position{
                &-left{
                    padding-top: 40px;
                    width: 21%;
                    padding-right: 79px;
                    border-right: 1px solid $blog-border-background;
                }
                &-right{
                    
                }
            }
            
        }
    }
}